@import url('../dojo/works/themes/fonts/all.css');

html, body{
	width: 100%;	
	height: 100%;
	overflow: hidden;	
	padding: 0 0 0 0;
	margin: 0 0 0 0;
    font: 12px 'DejaVuSans', sans-serif;
    font-style: normal;
    font-weight: normal;
}

#app-loader {
    display: table;
    position: absolute;
 	margin:0; 
 	padding:0;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: white url( images/load2.gif ) no-repeat center center;
}

#app-loader > span {
    display: table-cell;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    padding-right: 15px;
    padding-bottom: 110px;
    text-align: center;
    vertical-align: middle;
}

.main {
    width: 100%;
    height: 100%;
}
