.@{dojoTheme} .worksContentPane {
    padding: 0px;
    outline: 0px;
}
.@{dojoTheme} .dijitContentPane {
    padding: 0px;
    outline: 0px;
}

.worksPlainPane {
    overflow: hidden;
}

.worksPlainPane.scroll-both {
    overflow: auto;
}

.worksPlainPane.scroll-horizontal {
    overflow-x: auto;
}

.worksPlainPane.scroll-vertical {
    overflow-y: auto;
}

.worksDisplacedPane {
    position: absolute;
}
/* Flavors */

.worksPlainPane.flavor-paper {
    background-color: white;
    box-shadow: 4px 4px 10px #9c9c9c;
    -moz-box-shadow: 4px 4px 10px #9c9c9c;    
}

.worksPlainPane.flavor-paper > .worksPlainPaneContainer {
    border: 1px solid #808080;
    padding: 5px;
}

td.gridLayout.inner.parentOf-worksPlainPane-paper {
    padding: 2px;
}
