@import url('../../../dojox/layout/resources/ExpandoPane.css');

.tundra .dojoxExpandoClosed.dijitBorderContainerNoGutter-dijitExpandoPane {
    border: none !important;
}

.tundra .dojoxExpandoRight.dijitBorderContainerNoGutter-dijitExpandoPane {
    border-left: 1px solid #ccc !important;
}

.tundra .dojoxExpandoLeft.dijitBorderContainerNoGutter-dijitExpandoPane {
    border-right: 1px solid #ccc !important;
}

.tundra .dojoxExpandoTop.dijitBorderContainerNoGutter-dijitExpandoPane {
    border-bottom: 1px solid #ccc !important;
}

.tundra .dojoxExpandoBottom.dijitBorderContainerNoGutter-dijitExpandoPane {
    border-top: 1px solid #ccc !important;
}

.tundra .dijitBorderContainer-dijitExpandoPane {
    border: 1px solid #ccc !important;
}

.tundra .dojoxExpandoTitle {
    border-width: 0px 0px 1px 0px;
    border-color: #ccc;
    border-style: solid;
    padding: 4px;
}

.tundra .dojoxExpandoTitleNode {
    font-weight: normal;
    padding-left: 0px;
}

.dojoxExpandoClosed .dojoxExpandoTitle {
    height: 100%;
}

.dojoxExpandoLeft.dojoxExpandoClosed .dojoxExpandoTitle,
.dojoxExpandoRight .dojoxExpandoTitle {
    cursor: e-resize;
}

.dojoxExpandoRight.dojoxExpandoClosed .dojoxExpandoTitle,
.dojoxExpandoLeft .dojoxExpandoTitle {
    cursor: w-resize;
}

.dojoxExpandoTop.dojoxExpandoClosed .dojoxExpandoTitle,
.dojoxExpandoBottom .dojoxExpandoTitle {
    cursor: s-resize;
}

.dojoxExpandoBottom.dojoxExpandoClosed .dojoxExpandoTitle,
.dojoxExpandoTop .dojoxExpandoTitle {
    cursor: n-resize;
}

.tundra .dojoxExpandoClosed .dojoxExpandoIconLeft, 
.tundra .dojoxExpandoClosed .dojoxExpandoIconRight, 
.tundra .dojoxExpandoClosed .dojoxExpandoIconTop, 
.tundra .dojoxExpandoClosed .dojoxExpandoIconBottom {
    margin-top: 1px;
}

.tundra .dojoxExpandoRight .dojoxExpandoTitleNode {
    padding-left: 6px;
}

.tundra .dojoxExpandoClosed .dojoxExpandoTitleNode {
    display: block;
}

.tundra .dojoxExpandoTop.dojoxExpandoClosed .dojoxExpandoTitleNode,
.tundra .dojoxExpandoBottom.dojoxExpandoClosed .dojoxExpandoTitleNode {
    padding-top: 2px;
}

.tundra .dojoxExpandoLeft.dojoxExpandoClosed .dojoxExpandoTitleNode,
.tundra .dojoxExpandoRight.dojoxExpandoClosed .dojoxExpandoTitleNode {
    white-space: nowrap;
}

.tundra .dojoxExpandoLeft.dojoxExpandoClosed .dojoxExpandoTitleNode {
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: 100% 100%;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: 100% 100%;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 100% 100%;
    position: absolute;
    top: 12px;
    right: 5px;
    padding: 0px;
}

.dj_ff3 .tundra .dojoxExpandoLeft.dojoxExpandoClosed .dojoxExpandoTitleNode,
.dj_webkit .tundra .dojoxExpandoLeft.dojoxExpandoClosed .dojoxExpandoTitleNode {
    right: 4px;
}

.tundra .dojoxExpandoRight.dojoxExpandoClosed .dojoxExpandoTitleNode {
    -moz-transform: rotate(90deg);
    -moz-transform-origin: 0 100%;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: 0 100%;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: 0 100%;
    position: absolute;
    top: 12px;
    left: 6px;
    padding: 0px;
}

.dj_ff3 .tundra .dojoxExpandoRight.dojoxExpandoClosed .dojoxExpandoTitleNode,
.dj_webkit .tundra .dojoxExpandoRight.dojoxExpandoClosed .dojoxExpandoTitleNode {
    left: 5px;
}

.tundra .dojoxExpandoIcon {
    outline: 0px;
}

.tundra .dojoxExpandoRight .dojoxExpandoTitle, 
.tundra .dojoxExpandoLeft .dojoxExpandoTitle, 
.tundra .dojoxExpandoTop .dojoxExpandoTitle, 
.tundra .dojoxExpandoBottom .dojoxExpandoTitle, 
.tundra .dojoxExpandoClosed .dojoxExpandoTitle, 
.tundra .dojoxExpandoClosed {
    background: none;
    background-color: #f0f0f0;
}

.tundra .dojoxExpandoClosed .dojoxExpandoIconLeft {
    margin-right: 1px;
}

.tundra .dojoxExpandoClosed .dojoxExpandoIconRight {
    margin-left: 1px;
}

.tundra .dojoxExpandoIcon {
    background-image: url( ../../themes/images/window-buttons.png );
    width: 16px;
    height: 16px;
}

.tundra .dojoxExpandoIconTop,
.tundra .dojoxExpandoClosed .dojoxExpandoIconBottom {
    background-position: -96px 0px;
}

.tundra .dojoxExpandoIconBottom,
.tundra .dojoxExpandoClosed .dojoxExpandoIconTop {
    background-position: -112px 0px;
}

.tundra .dojoxExpandoIconLeft,
.tundra .dojoxExpandoClosed .dojoxExpandoIconRight {
    background-position: -64px 0px;
}

.tundra .dojoxExpandoIconRight,
.tundra .dojoxExpandoClosed .dojoxExpandoIconLeft {
    background-position: -80px 0px;
}

.tundra .dojoxExpandoPane {
    background-color: white;
}

.tundra .dojoxExpandoPane.dojoxExpandoClosed {
    background-color: #f0f0f0;
}

.nw_mobile .dojoxExpandoTitle {
    height: 22px;
    padding-top: 10px;
}

.nw_mobile .dojoxExpandoLeft.dojoxExpandoClosed > .dojoxExpandoTitle {
    padding-right: 9px;
}

.nw_mobile.dj_webkit .tundra .dojoxExpandoLeft.dojoxExpandoClosed .dojoxExpandoTitleNode {
    right: 10px;
}

.nw_mobile .dojoxExpandoRight.dojoxExpandoClosed > .dojoxExpandoTitle {
    padding-left: 8px;
}

.nw_mobile.dj_webkit .tundra .dojoxExpandoRight.dojoxExpandoClosed .dojoxExpandoTitleNode {
    left: 9px;
}

.nw_mobile .tundra .dojoxExpandoTop.dojoxExpandoClosed .dojoxExpandoTitleNode,
.nw_mobile .tundra .dojoxExpandoBottom.dojoxExpandoClosed .dojoxExpandoTitleNode {
    padding-top: 7px;
    padding-left: 1px;
}

.tundra .worksFoldingPane.dojoxExpandoRight .dojoxExpandoTitle, 
.tundra .worksFoldingPane.dojoxExpandoLeft .dojoxExpandoTitle, 
.tundra .worksFoldingPane.dojoxExpandoTop .dojoxExpandoTitle, 
.tundra .worksFoldingPane.dojoxExpandoBottom .dojoxExpandoTitle, 
.tundra .worksFoldingPane.dojoxExpandoClosed .dojoxExpandoTitle, 
.tundra .worksFoldingPane.dojoxExpandoClosed {
    background-color: transparent;
    border-color: transparent;
}

.nw_mobile .worksFoldingPane .dojoxExpandoTitle {
    height: 5px;
}

.tundra .worksFoldingPane.dojoxExpandoTop.dijitBorderContainerNoGutter-dijitExpandoPane {
    border-color: transparent !important;
}

.tundra .worksFoldingPane .dojoxExpandoIcon {
    margin: auto;
    float: none;
    background-position: -98px -4px;
    width: 12px;
    height: 7px;
    position: relative;
    margin-top: -2px;
}

.nw_mobile .tundra .worksFoldingPane .dojoxExpandoIcon {
    margin-top: -5px;
}

.tundra .worksFoldingPane.dojoxExpandoClosed .dojoxExpandoIcon {
    background-position: -114px -5px;
    margin-top: -1px;
}

.nw_mobile .tundra .worksFoldingPane.dojoxExpandoClosed .dojoxExpandoIcon {
    background-position: -114px -4px;
    margin-top: -1px;
}
.nw_mobile .tundra .worksFoldingPane .dojoxExpandoIcon {
    margin-top: -5px;
}

.tundra .worksFoldingPane.dojoxExpandoClosed .dojoxExpandoIcon {
    background-position: -114px -5px;
    margin-top: -1px;
}

.nw_mobile .tundra .worksFoldingPane.dojoxExpandoClosed .dojoxExpandoIcon {
    background-position: -114px -4px;
    margin-top: 1px;
}

.tundra .worksFoldingPane .dojoxExpandoIcon:before {
    border-color: #ccc;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    content: " ";
    width: 32px;
    height: 12px;
    display: block;
    position: absolute;
    top: -3px;
    left: -11px;
    box-shadow: 0px 3px 6px -3px rgba(0,0,0,0.2);
}

.nw_mobile .tundra .worksFoldingPane .dojoxExpandoIcon:before {
    width: 48px;
    height: 18px;
    top: -5px;
    left: -18px;
}

.tundra .worksFoldingPane .dojoxExpandoTitleNode {
    display: none;
}

.tundra .worksFoldingPane .dojoxExpandoTitle {
    padding-bottom: 6px;
}