@selectedBorderColor: #7eabcd;
@previewBorderColor: #699ae6;

.worksFloatingContainer {
    overflow: hidden;
}

.tundra .dojoxFloatingPaneTitle {
    border: none;
    background: none;
    background-color: #f5f5f5;
    border-bottom: 1px solid #dddddd;
    color: #9d9d9d;
    cursor: move;
}

.tundra .dojoxFloatingPaneFg .dojoxFloatingPaneTitle {
     background-color: #dddddd;
     border-bottom: 1px solid #bfbfbf;
     color: black;
}

.@{dojoTheme} .dojoxFloatingPane {
    box-shadow: 0 0 0 0;
} 

.tundra .dojoxFloatingPane.dojoxFloatingPaneFg {
    border-color: @selectedBorderColor;
    box-shadow: 0 0 8px 2px #e0e0e0;
    -moz-box-shadow: 0 0 8px 2px #e0e0e0;
    -border-width: 2px;
} 

.@{dojoTheme} .dojoxFloatingPane.floatingPaneMaximized {
    border-width: 0px;
}

.dojoxFloatingPane.floatingPaneMaximized .dojoxResizeHandle {
    visibility: hidden;
}

.dojoxFloatingPaneTitle {
    padding: 3px 4px;
}

.@{dojoTheme} .dojoxFloatingPane,
.@{dojoTheme} .dojoxFloatingPaneCanvas, 
.@{dojoTheme} .dojoxFloatingPaneTitle,
.@{dojoTheme} .dojoxFloatingPaneContent {
    outline: 0px;
}

.@{dojoTheme} .dojoxFloatingPaneCanvas {
    position: relative;
    height: 100%;
}



.worksFloatingResizeIcon {
    cursor: pointer;
    float: right;
    overflow: hidden;
}

.tundra .worksFloatingResizeIcon,
.tundra .dojoxFloatingCloseIcon,
.tundra .dojoxFloatingMaximizeIcon,
.tundra .dojoxFloatingRestoreIcon {
    width: 16px;
    height: 16px;
    color: transparent;
    background-image: e( %( 'url( %s/works/themes/images/window-buttons.png )', @basePath ) );
    cursor: pointer;
}

.tundra .dojoxFloatingCloseIcon {
    background-position: 0px 0px;
}

.tundra .dojoxFloatingMaximizeIcon {
    background-position: -16px 0px;
}

.tundra .worksFloatingResizeIcon {
    background-position: -32px 0px;
}

.tundra .dojoxFloatingRestoreIcon {
    background-position: -48px 0px;
}

.@{dojoTheme} .worksFloatingPaneSizer .dijitTooltipContainer {
    background: none;
    background-color: white;
    position: relative;
}

.@{dojoTheme} .worksFloatingPaneSizer .cell {
    position: relative;
    border: 1px solid black;
}

.@{dojoTheme} .worksFloatingPaneSizer .cell.hover {
    background-color: @previewBorderColor;
}

.@{dojoTheme} .worksFloatingPaneSizer .cell.highlight {
    background-color: #dddddd;
}

.@{dojoTheme} .worksFloatingPaneSizerBox {
    position: absolute; 
    visibility: hidden;
    border: 4px dashed @previewBorderColor;
    -moz-border-radius: 15px;
    border-radius: 15px;
    z-index: 900;
}

.tundra .worksFloatingPaneOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.3;
}

.tundra .dojoxFloatingPaneFg .worksFloatingPaneOverlay {
    visibility: hidden;
}

.tundra .worksFloatingPaneOverlay.loading {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    background-image: e( %( 'url( %s/works/themes/images/loader-32.gif )', @basePath ) );
    background-repeat: no-repeat;
    background-position: center center;
}