table.worksGridLayout {
    border-spacing: 0px;
    outline: 0;
}

table.worksGridLayout > tbody > tr > td {
    padding: 2px;
}

table.worksGridLayout > tbody > tr > td.inner {
    padding: 0px;
}

table.worksGridLayout.collapsible > tbody > tr > td > .hidden {
    display: none;
}

table.worksGridLayout.collapsible > tbody > tr > td.hidden {
    padding: 0px;
}

table.worksGridLayout.collapsible > tbody > tr.hidden {
    display: none;
}

.@{dojoTheme} div.worksGridLayoutPane {
    overflow: hidden;
    outline: 0;
}

.@{dojoTheme} div.worksGridLayoutPane.scroll-both {
    overflow: auto;
}

.@{dojoTheme} div.worksGridLayoutPane.scroll-horizontal {
    overflow-x: auto;
}

.@{dojoTheme} div.worksGridLayoutPane.scroll-vertical {
    overflow-y: auto;
}

.nw_mobile .@{dojoTheme} div.worksGridLayoutPane {
    -webkit-overflow-scrolling: touch;
}
