<div class="${baseClass} ${position}">
    <div class="${baseClass}-container">
        <div class="${baseClass}-title ${align}" data-dojo-attach-point="titleNode"><div class="${baseClass}-titlecontent" data-dojo-attach-point="titleContentNode">${title}</div></div>
        <div class="${baseClass}-content" data-dojo-attach-point="containerNode"></div>
    </div>
</div>
