.labelpane {
    display: inline-block;
    -border: 1px solid #bfbfbf;
    outline: 0px;
}

.labelpane-container {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: white;
}

.labelpane-content {
    position: absolute;
    border-color: #bfbfbf;
    border-style: solid;
}

.labelpane.top > .labelpane-container > .labelpane-content {
    border-width: 0px 1px 1px 1px;
}

.labelpane.bottom > .labelpane-container > .labelpane-content {
    border-width: 1px 1px 0px 1px;
}

.labelpane.left > .labelpane-container > .labelpane-content {
    border-width: 1px 1px 1px 0px;
}

.labelpane.right > .labelpane-container > .labelpane-content {
    border-width: 1px 0px 1px 1px;
}

.labelpane-title {
    background-color: #e7e7e7;
    position: absolute;
    padding-bottom: 2px;
    border-color: #bfbfbf;
    border-style: solid;
    border-width: 1px;
    cursor: default;
}

.labelpane.bottom > .labelpane-container > .labelpane-title {
    bottom: 0px;
    -width: 100%;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    -border-width: 1px 0px 0px 0px;
}

.labelpane.top > .labelpane-container > .labelpane-title {
    top: 0px;
    -width: 100%;
    text-align: center;
    padding-bottom: 1px;
    padding-top: 1px;
    -border-width: 0px 0px 1px 0px;
}

.labelpane.left > .labelpane-container > .labelpane-title {
    display: block;
    top: 100%; /* pane height */
    left: 0px;
    -width: 100%; /* pane width */
    text-align: center;
    -border-width: 0px 0px 1px 0px;
    
    
    -moz-transform: rotate( -90deg );
    -moz-transform-origin: 0% 0%;
    -webkit-transform: rotate( -90deg );
    -webkit-transform-origin: 0% 0%;
    -ms-transform: rotate( -90deg );
    -ms-transform-origin: 0% 0%;
    
}

.labelpane.right > .labelpane-container > .labelpane-title {
    
    top: 0px;
    left: 100%; /* pane width */
    -width: 100%; /* pane width */
    text-align: center;
    -border-width: 0px 0px 1px 0px;
    
    -moz-transform: rotate( 90deg );
    -moz-transform-origin: 0% 0%;
    -webkit-transform: rotate( 90deg );
    -webkit-transform-origin: 0% 0%;
    -ms-transform: rotate( 90deg );
    -ms-transform-origin: 0% 0%;
}

.labelpane > .labelpane-container > .labelpane-title.right {
    text-align: right;
    padding-right: 2px;
}

.labelpane > .labelpane-container > .labelpane-title.left {
    text-align: left;
    padding-left: 2px;
}

.tundra .dijitBorderContainer-labelpane {
    border-width: 0px;
}
/* Dark */

.labelpane.flavor-dark > .labelpane-container > .labelpane-content {
    border-color: gray;
}

.labelpane.flavor-dark > .labelpane-container > .labelpane-title {
    border-color: gray;
    background-color: gray;
    color: white;
}

/* Paper */

.labelpane.flavor-paper > .labelpane-container > .labelpane-content {
    border-color: #808080;
    padding: 5px;
}

.labelpane.flavor-paper > .labelpane-container > .labelpane-title {
    border-color: #808080;
    background-color: white;
}

.labelpane.flavor-paper > .labelpane-container > .labelpane-title {
    padding: 0px 5px 0px 5px;
}

.labelpane.flavor-paper.top > .labelpane-container > .labelpane-title,
.labelpane.flavor-paper.right > .labelpane-container > .labelpane-title,
.labelpane.flavor-paper.left > .labelpane-container > .labelpane-title {
    border-bottom-width: 0px;
}

.labelpane.flavor-paper.bottom > .labelpane-container > .labelpane-title {
    border-top-width: 0px;
}

.labelpane.flavor-paper > .labelpane-container > .labelpane-title > .labelpane-titlecontent {
    padding: 2px 0px 2px 0px;
    font-weight: bold;
}

.labelpane.flavor-paper.top > .labelpane-container > .labelpane-title > .labelpane-titlecontent,
.labelpane.flavor-paper.left > .labelpane-container > .labelpane-title > .labelpane-titlecontent,
.labelpane.flavor-paper.right > .labelpane-container > .labelpane-title > .labelpane-titlecontent {
    border-bottom: 1px solid #dfdfdf;
}

.labelpane.flavor-paper.bottom > .labelpane-container > .labelpane-title > .labelpane-titlecontent {
    border-top: 1px solid #dfdfdf;
}

.labelpane.flavor-paper > .labelpane-container > .labelpane-title > .labelpane-titlecontent {
    padding: 2px 0px 2px 0px;
    font-weight: bold;
}

.labelpane.flavor-paper {
    box-shadow: 4px 4px 10px #9c9c9c;    
    -moz-box-shadow: 4px 4px 10px #9c9c9c;    
}
