.tundra .worksLoaderOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;
    background-image: url( ../../themes/images/loader-32.gif );
    background-repeat: no-repeat;
    background-position: center center;
}

