<div class="worksMobileScrollPane ${baseClass}" data-dojo-attach-event="ontouchstart:onTouchStart,ontouchmove:onTouchMove,ontouchend:onTouchEnd">
    <div class="worksMobileScrollPaneScroller">
        <div class="worksMobileScrollPaneContainer" data-dojo-attach-point="containerNode">
        </div>
    </div>
</div>