div.worksPinboardLayoutPane {
    overflow: hidden;
    outline: 0px;
}

div.pinboardCell {
    vertical-align: top;
}

div.pinboardCell.absolute {
    position: absolute;
}

div.pinboardCell.inline {
    display: inline-block;
    float: left;
}

div.pinboardCell.break, div.pinboardCell.col-0 {
    clear: left;
}

div.pinboardCell.hidden {
    display: none;
}

div.worksPinboardLayoutPane.scroll-both {
    overflow: auto;
}

div.worksPinboardLayoutPane.scroll-horizontal {
    overflow-x: auto;
}

div.worksPinboardLayoutPane.scroll-vertical {
    overflow-y: auto;
}
