.dojoxResizeHandle {
	float: right;
	position: absolute;
	right: 1px;
	bottom: 1px;
	width: 15px;
	height: 15px;
	z-index: 20;
	-background-image: url('resize-handle.png');
	line-height: 0px;
}

.tundra .dojoxResizeHandle {
    border-bottom: 3px solid #dddddd;
    border-right: 3px solid #dddddd;
}

.tundra .dojoxFloatingPaneFg .dojoxResizeHandle,
.tundra .dijitDialog .dojoxResizeHandle  {
    border-bottom: 3px solid #7eabcd;
    border-right: 3px solid #7eabcd;
}

.dijitRtl .dojoxResizeHandle {
    float: right;
    left: 0px;
    right: auto;
	-background-image: url('resize-handle-rtl.png');
}

.dojoxResizeNW {
    cursor: url(../../themes/images/cursor-nw-se.png) 12 12, nw-resize;
}

.dijitRtl .dojoxResizeNW {
    cursor: ne-resize;
}
.dojoxResizeNE {
	cursor: ne-resize; 
}
.dijitRtl .dojoxResizeNE {
    cursor: nw-resize;
}
.dojoxResizeW {
	cursor: w-resize; 
}
.dojoxResizeN { 
	cursor: n-resize; 
}

.dojoxResizeHandleClone {
	position: absolute; 
    top:-10; 
    left:-10; 
	border: 3px dashed #699ae6; 
	z-index: 999; 
}

