@backColor: #F5F5F5;
@borderColor: #CCCCCC;
@hoverButtonBorderColor: #f0f0f0;
@hoverButtonBackColor: #fefefe;
@inactiveLabelColor: #6C6C6C;
@hoverLabelColor: #208cf6;
@activeLabelColor: #000000;

@ribbonTopPadding: 0px;
@tabsLeftPadding: 30px;

.ribbon {
    height: 118px;
    padding: 0px;
}

.nw_mobile .ribbon {
    height: 126px;
}

.ribbon span {
   outline: 0;
}

.ribbonContainer {
	width:100%; 
	padding-top: 1px; 
}

.tundra .ribbonContainer {
	border-color: @borderColor;
}

.@{dojoTheme} .ribbon .ribbonStrip.dijitContentPane {
	overflow: hidden;
    height: 115px;
    padding-top: 2px;
}

.nw_mobile .@{dojoTheme} .ribbon .ribbonStrip.dijitContentPane {
    padding-top: 0px;
}

.tundra .ribbon .ribbonStrip.dijitContentPane {
    background-color: @backColor;
}

/* Tab Strip */

.ribbon-tabs {
 	padding-left: @tabsLeftPadding;
}

.@{dojoTheme} .ribbon .dijitTabContainerTop-container {
    border-left: transparent;
    border-right: transparent;
}

.@{dojoTheme} .ribbon .dijitTab .tabLabel {
    color: @inactiveLabelColor;
    border-color: @borderColor;
}

.nw_mobile .@{dojoTheme} .ribbon .dijitTab .tabLabel {
    font-size: 14px;
    line-height: 15px;
    padding-top: 6px;
    min-height: 16px;
}

.dj_chrome .tundra .ribbon .dijitTab .tabLabel {
    padding-top: 3px;
}

.tundra .ribbon .dijitTabChecked .tabLabel {
    color: @activeLabelColor;
}

.@{dojoTheme} .ribbon .dijitTab {
    font-size: 11px;
    text-transform: uppercase;
    background: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.@{dojoTheme} .ribbon .dijitTabChecked {
    font-weight: bold;
    border-color: @borderColor;
}

.tundra .ribbon .dijitTabChecked {
    font-weight: bold;
    background-color: @backColor;
    border-bottom-color: @backColor;
}

.dj_safari .@{dojoTheme} .ribbon .dijitTabChecked {
    padding-bottom: 3px;
}

/* Button */
.ribbon .dijitButton {
	margin: 0px;
	vertical-align: top;
}

.ribbon .dijitButtonContents {
    padding-top: 6px; 
}

.nw_mobile .dijitButtonContents {
    padding-top: 0px;
    margin-botton: 0px;
}

/* Button node */
.tundra .ribbon .dijitButtonHover .dijitButtonNode{
    border: 1px solid @hoverButtonBorderColor;
    background: @hoverButtonBackColor;      
}

.@{dojoTheme} .ribbon .dijitButtonActive .dijitButtonNode {
    border: 1px solid white;
	background: none;
}

.@{dojoTheme} .ribbon .dijitButtonDisabled .dijitButtonNode {
    border-color: transparent;
	background: none;
}

.tundra .ribbon .dijitButtonActive .dijitButtonNode {
	background-color: gray;
}
.tundra .ribbon .dijitButtonDisabled .dijitButtonText {
    color: white;
}
 

.ribbon .dijitButtonNode {
	border-color: transparent;
	background: none;
	height: 66px;
}

/* Button text */
.@{dojoTheme} .ribbon .dijitButtonText {
	display: block;
	color: black;
	font-size: 8pt;
	padding: 0px;
    padding-top: 5px;
    min-width: 49px;
    min-height: 25px;
    line-height: 110%;
    letter-spacing: 0px;
}

.nw_mobile .@{dojoTheme} .ribbon .dijitButtonText {
    font-size: 13px;
}

.@{dojoTheme} .ribbon .horizontal .dijitButtonText {
    min-height: 13px;
}

.tundra .ribbon .dijitButtonHover .dijitButtonText {
	color: @hoverLabelColor;
}

.tundra .ribbon .dijitButtonActive .dijitButtonText {
	color: white;
}

.@{dojoTheme} .ribbon .dijitArrowButtonInner {
    position: relative;
    left: 22px;
    opacity: 0.6;
    top: -49px;
}

.@{dojoTheme} .ribbon .horizontal .dijitArrowButtonInner {
    left: 2px;
    top: 4px;
}

.@{dojoTheme} .ribbon .dijitButtonHover .dijitArrowButtonInner {
    opacity: 0.2;
}

/* LabelPanes */

.ribbon .ribbonpane {
     display: inline-block;
}

.ribbonContainer .ribbonpane-container{
	overflow: hidden;	
	height: 71px;
	min-width: 40px;
}

.nw_mobile .ribbonContainer .ribbonpane-container {
    height: 76px;
}


.@{dojoTheme} .ribbon .ribbonpane {
    margin-right: 5px;
}

.tundra .ribbon .ribbonpane {
    border: 0px solid white;
}

.@{dojoTheme} .ribbon td.ribbonpane-titlecell {
	margin-left: 1px;
	margin-right: 1px;
    font-size: 11px;
    padding: 0px 7px 1px 7px;
}

.tundra .ribbon td.ribbonpane-titlecell {
	background-color: gray;
	color: white;
}

.@{dojoTheme} .ribbon span.ribbonpane-titlecell {
    display: inline-block;
    font-size: 11px;
    line-height: 14px;
    margin-top: 0px;
    padding-top: 1px;
}

.tundra .ribbon span.ribbonpane-titlecell {
	background-color: transparent;
	color: white;
}

.dj_gecko .@{dojoTheme} .ribbon span.ribbonpane-titlecell {
    margin-top: -1px;
}

.dj_safari .@{dojoTheme} .ribbon span.ribbonpane-titlecell,
.dj_chrome .@{dojoTheme} .ribbon span.ribbonpane-titlecell {
    margin-bottom: -1px;
}


.ribbon .ribbonpane-container {
	padding: 0px 4px 2px 4px;
}

.nw_mobile .ribbon .ribbonpane-container {
    padding-bottom: 0px;
}

/* Horizontal buttons */
                      
.ribbon .horizontal { 
    display: inline-block;
    padding-top: 2px;
}   

.nw_mobile .ribbon .horizontal {
    padding-top: 0px
}                  

.ribbon .horizontal .dijitButtonNode {
    height: 14px;
    padding-left: 0px;
}

.ribbon .horizontal .dijitButtonContents {
    text-align: left;
    padding-top: 0px; 
}

.@{dojoTheme} .ribbon .horizontal .dijitButtonText {
	display: inline;
    line-height: 100%;
    margin-left: 5px;
    padding-top: 0px;
}                

.@{dojoTheme} .ribbon .horizontal .dijitButtonText span:first-child {
    padding-top: 3px;
    display: inline-block;
}

.@{dojoTheme} .ribbon .horizontal .dijitButton {
	display: block;   
	margin: 0px;
}

.@{dojoTheme} .ribbon .horizontal .dijitButtonNode {
    vertical-align: top;
    padding-left: 5px;
    padding-top: 3px;
    
}

.nw_mobile .@{dojoTheme} .ribbon .horizontal .dijitButtonNode {
    padding-top: 2px;
}

.@{dojoTheme} .dijitContentPane.ribbonStripContent {
    padding-left: 5px;
    padding-top: 1px;
}

/* Structure */

table.ribbonstrip,
table.ribbongroup,
table.ribbonsection {
    border-spacing: 0px;
    outline: 0;
}

table.ribbonstrip > tbody > tr > td,
table.ribbongroup > tbody > tr > td,
table.ribbonsection > tbody > tr > td {
    padding: 0px;
}



                      