<div>
	<table cellspacing="0" cellpadding="0" class="${baseClass}-maintable" dojoAttachPoint="tableNode">
		<tr>	
			<td height="100%" valign="${contentValign}" dojoAttachPoint="containerCellNode"  class="${baseClass}-containercell" valign="top">
				<div dojoAttachPoint="containerNode" class="${baseClass}-container"></div>
			</td>
		</tr>
		<tr>
			<td align="${align}" class="${baseClass}-titlecell" height="1px" dojoAttachPoint="titleCellNode">
				<span class="${baseClass}-titlecell">${title}</span>
			</td>
		</tr>
	</table>
</div>