.ribbonpane-maintable {
	width: 100%;
	height: 100%;
}

.ribbonpane-titlecell {
	font-size: 14px;
}

.soria .ribbonpane {
	border: 1px solid #b9bbdd;	
}

.soria .ribbonpane-titlecell {
	background-color: #e1ebfb;
	color: #404040;
}

.tundra .ribbonpane {
	border: 1px solid #cccccc;	
}

.tundra .ribbonpane-titlecell {
	background-color: #e7e7e7;
	color: #404040;
}

.nihilo .ribbonpane {
	border: 1px solid #cccccc;	
}

.nihilo .ribbonpane-titlecell {
	background-color: #e7e7e7;
	color: #404040;
}

.orange .ribbonpane {
	border: 1px solid #cccccc;	
}

.orange .ribbonpane-titlecell {
	background-color: #EFEFEF;
	color: #404040;
}
