<div>
	<table cellspacing="0" cellpadding="0" class="${baseClass}-maintable" dojoAttachPoint="tableNode">
		<tr>
			<td valign="${align}" class="${baseClass}-titlecell" width="1px" dojoAttachPoint="titleCellNode">
				<div class="${baseClass}-verticaltitle">${title}</div>
			</td>
			<td width="100%" valign="${contentValign}" dojoAttachPoint="containerCellNode" valign="top" class="${baseClass}-containercell">
				<div dojoAttachPoint="containerNode" style="overflow: hidden" class="${baseClass}-container"></div>
			</td>
		</tr>
	</table>
</div>