.tundra .dijitTitlePaneContentInner {
    padding: 0px;
}

.dijitTitlePaneTitleFocus {
    outline: 0px;
}

.tundra .dijitBorderContainer-dijitTitlePane .dijitTitlePaneContentOuter {
    border-width: 0px 0px 0px 0px;
}

.tundra .dijitBorderContainer-dijitTitlePane .dijitTitlePaneTitle {
    border-width: 0px 0px 1px 0px;
}

.tundra .dijitTitlePaneTitle {
    padding: 1px 4px 1px 4px;
}

.tundra .dijitTitlePaneTitle,
.tundra .dijitTitlePaneTitleFixedOpen.dijitTitlePaneTitleHover {
    background: #e7e7e7 none repeat scroll 0 0;
}

.tundra .dijitTitlePane .dijitArrowNode,
.tundra .dijitTitlePane .dijitClosed .dijitArrowNode {
    background-color: inherit;
    background-repeat: no-repeat;
    background-position: ;
}

.tundra .dijitTitlePane .dijitArrowNode {
    background-image: url("../../themes/images/down-13.png");    
    background-position:  -3px -4px;
}

.tundra .dijitTitlePane .dijitClosed .dijitArrowNode {
    background-image: url("../../themes/images/right-13.png");    
    background-position: -4px -3px;
}

.dijitTitlePaneTitle * {
    white-space: nowrap;
}
/* Flavors */

.tundra .dijitTitlePane.dark > .dijitTitlePaneTitle {
    border-color: gray;
    background-color: gray;
    color: white;
}

.tundra .dijitTitlePane.dark > .dijitTitlePaneContentOuter {
    border-color: gray;
}

.tundra .dijitBorderContainer-dijitTitlePane.dark {
    border: 1px solid gray;
}

.tundra .dijitTitlePane.dark .dijitArrowNode {
    background-image: url("../../themes/images/down-white-13.png");    
}

.tundra .dijitTitlePane.dark .dijitClosed .dijitArrowNode {
    background-image: url("../../themes/images/right-white-13.png");    
}

/* Paper */

.tundra .dijitTitlePane.flavor-paper > .dijitTitlePaneTitle {
    border-color: #808080;
    border-bottom-width: 0px;
    background-color: white;
}

.tundra .dijitTitlePane.flavor-paper > .dijitTitlePaneContentOuter {
    border-color: #808080;
}

.tundra .dijitBorderContainer-dijitTitlePane.flavor-paper {
    border: 1px solid #808080;
}

.tundra .dijitTitlePane.flavor-paper .dijitTitlePaneContentInner {
    padding: 5px;
}

.tundra .dijitTitlePane.flavor-paper .dijitTitlePaneTitleFocus {
    border-bottom: 1px solid #dfdfdf;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}

.tundra .dijitTitlePane.flavor-paper .dijitTitlePaneTitleClosed .dijitTitlePaneTitleFocus {
    border-bottom-width: 0px;
}

.tundra .dijitTitlePane.flavor-paper > .dijitTitlePaneTitleClosed {
    border-bottom-width: 1px;
}

.tundra .dijitTitlePane.flavor-paper {
    box-shadow: 4px 4px 10px #9c9c9c;    
    -moz-box-shadow: 4px 4px 10px #9c9c9c;    
}
