<div style="font-size: 18px; margin: 20px; text-align:justify">
    <p>
        VARS (Verifica e Analisi Rischio Sismico) consente di effettuare diverse analisi di rischio sismico su tutto il territorio nazionale. Inoltre la piattaforma consente di ottenere dati che possono essere utilizzati in programmi esterni per simulazioni numeriche quali spettri di risposta e accelerogrammi sintetici. Questa applicazione web-based &egrave; articolata in tre fasi che consentono all'utente di inserire le caratteristiche dell'edificio studiato ed ottenere i risultati. Le tre fasi riprendono la classica struttura delle analisi del rischio sismico effettuate sul singolo edificio e sono:
        <ul>
            <li>
                <b>Pericolosit&agrave; sito:</b> <a href="link:ceppa">Individuazione</a> della pericolosit&agrave; del sito con possibilit&agrave; di calcolo degli spettri elastici e accelerogrammi sintetici.
            </li>
            <li>
                <b>Vulnerabilit&agrave; edificio:</b> <a href="link:minkia">Definizione</a> delle caratteristiche dell'edificio e calcolo del Sisma Bonus con possibilit&agrave; di calcolo degli spettri di progetto.
            </li>
            <li>
                <b>Rischio:</b> Valutazione del rischio in termini di probabilit&agrave; integrale e ai sensi del <a href="link:dm65">DM 65 del 07-03-2017 (Sisma Bonus)</a> in termini di PAM e IS-V con modalit&agrave; convenzionale e semplificato e con possibilit&agrave; di stampa del modulo di asseverazione (<a href="link:db65allB">DM 65 del 07-03-2017 Allegato B</a>).
            </li>
        </ul>
    </p>
    <p>
        Ciascuna fase contiene diversi sotto men&ugrave; per la selezione dei parametri. I dati sono processati in modo automatico e l'output &egrave; ottenuto in tempo reale.
    </p>
    <p>
        VARS &egrave; una piattaforma in continua evoluzione, coll&eacute;gati per vedere aggiornamenti e nuove funzioni aggiunte!
    </p>
</div>