.tundra .dijitMenuItem {
    height: 21px;
}

.tundra .dijitPopup.dijitMenuPopup {
    box-shadow: 1px 1px 6px #dddddd;
    -moz-box-shadow: 1px 1px 6px #dddddd;
}

.tundra .dijitMenuItemIconCell, 
.tundra .dijitMenuSeparatorIconCell {
    background-color: #eeeeee;
    min-width: 16px;
}

.tundra .dijitMenuItemDisabled .dijitMenuItemIconCell {
    opacity: 1;
}

.tundra .dijitMenuSeparatorBottom {
    border-top: none;
    margin-bottom: 1px;
}

.tundra .dijitMenuSeparatorTop {
    border-bottom: 1px solid #7eabcd;
    margin-top: 1px;
}

.tundra .dijitMenuItem td.dijitMenuItemLabel {
    padding-left: 4px;
}

.dijitMenuTable {
    outline: 0px;
    padding: 10px;
}