.worksPaper .element {
    cursor: url(../../themes/images/cursor-move.png) 12 12, move;
}

.worksPaperReadonly .element {
    cursor: url(../../themes/images/cursor-hand.png) 7 1, pointer;
}

.worksPaper {
    overflow: auto;
}

.worksPaperScroller {
    position: relative;
}

.worksPaperContainer {
    position: absolute;
}