<div class="dijit dijitReset dijitInline dijitLeft worksSmartTextBox" id="widget_${id}"><table role="presentation"
	><tr role="presentation"><td width="100%" role="presentation" class="dijitReset dijitInputField dijitInputContainer"
		><input class="dijitReset dijitInputInner" data-dojo-attach-point='textbox,focusNode' autocomplete="off"
			${!nameAttrSetting} type='${type}'
	/></td
    ><td role="presentation" data-dojo-attach-point="dropButton" class="worksSmartTextBoxButtonContainer"
        ><div class="worksSmartTextBoxButton worksSmartTextBoxDropButton" data-dojo-attach-event="ondijitclick:_onDropButtonClick">&nbsp;</div
    ></td></tr></table
></div>
