.@{dojoTheme} .gridx, .gridx {
    border: 0px;
    outline: 0px;
}

.worksGrid > .gridx {
    border-style: solid;
    border-color: #a0a0a0;
}

td.gridLayout > .worksGrid > .gridx {
    border-width: 1px;
}

td.gridLayout > .worksGrid.autoHeight > .gridx > .gridxMain > .gridxBody > .gridxRow:last-child > .gridxRowTable .gridxCell,
td.gridLayout > .worksGrid.autoHeight > .gridx > .gridxMain > .gridxRowHeaderBody > .gridxRowHeaderRow:last-child > table .gridxRowHeaderCell {
    border-bottom-color: transparent;
}

.gridx .gridxHeader .gridxHeaderRow .gridxHeaderRowInner .gridxCell.gridxHeaderCellFocus, 
.gridx .gridxHeader .gridxHeaderRow .gridxHeaderRowInner .gridxCell.gridxCellRegion.gridxHeaderRegionFocus {
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-color: transparent;
    border-right-style: solid;
    outline: 0px;
}

.worksGrid.autoHeight > .gridx > .gridxMain > .gridxBodyEmpty {
    height: 15px;
    padding: 0px;
}

.gridxCell {
    white-space: nowrap;
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
}

.gridxCell.wrap {
    white-space: normal;
}

.gridxCell.top {
    vertical-align: top;
}

.gridxCell.bottom {
    vertical-align: bottom;
}

.worksGridNoHeader > .gridxHeader {
    height: 0px;
}

.@{dojoTheme} .gridxHeaderRow,
.@{dojoTheme} .gridxRowHeaderRow {
    background: #f0f0f0;
    border-color: #a0a0a0;
}

.@{dojoTheme} .gridxRowHeaderRow .gridxCellFocus{
    border-color: #a0a0a0 !important;
    border-width: 0px 0px 1px 0px !important;
    border-style: solid !important;
    outline: 0px;
}

.@{dojoTheme} .gridxGroupHeader, 
.@{dojoTheme} .gridxHeaderRow .gridxCell {
    border-right: 1px solid #A0A0A0;
}

.@{dojoTheme} .gridxRowHeaderHeaderCell, 
.@{dojoTheme} .gridxRowHeaderCell {
    border-color: #A0A0A0;
}

.@{dojoTheme} .gridxRowHeaderHeader, 
.@{dojoTheme} .gridxRowHeaderBody {
    border-color: #A0A0A0;
}

.gridxRowHeaderRow table .gridxCell.right, 
.gridxRow .gridxRowTable .gridxCell.right {
    text-align: right;
}

.gridxRowHeaderRow table .gridxCell.center, 
.gridxRow .gridxRowTable .gridxCell.center {
    text-align: center;
}

.dj_webkit .gridxRow .gridxRowTable .gridxCell {
    padding-top: 2px;
    padding-bottom: 2px;
}

.dijitBorderContainer-child > .gridx .gridxRow td.gridxCell:last-child,
.dijitBorderContainer-child > .gridx .gridxHeaderRow td.gridxCell:last-child,
.dijitBorderContainer-child > .gridx .gridxHeaderRowInner,
.labelpane-content > .worksGrid > .gridx .gridxRow td.gridxCell:last-child,
.labelpane-content > .worksGrid > .gridx .gridxHeaderRowInner,
td.gridLayout > .worksGrid > .gridx .gridxRow td.gridxCell:last-child,
td.gridLayout > .worksGrid > .gridx .gridxHeaderRowInner
{
    border-right-color: transparent;
}

.@{dojoTheme} .dijitBorderContainerNoGutter-child > .gridx {
    border-color: #a0a0a0;
    border-style: solid;
}

.gridx .gridxBody .gridxCellFocus {
    border-color: transparent #ccc #ccc transparent !important;
    border-style: solid !important;
}

.gridIcon {
    display: block;
    cursor: pointer;
}

.gridIcon > div:first-child {
    display: block;
    float: left;
}

.gridIcon > .caption {
    padding-left: 5px;
    display: inline;
}

.gridIcon > .default {
    background-image: e( %( 'url( %s/works/themes/images/icons-16.png )', @basePath ) );
    background-position: -112px -16px;
    height: 16px;
    width: 16px;
}

.nw_mobile .gridIcon > .default {
    background-image: e( %( 'url( %s/works/themes/images/icons-24.png )', @basePath ) );
    background-position: -168px -24px;
    height: 24px;
    width: 24px;
}

.gridxDodNode, .gridxDodLoadNode {
    border-bottom: 1px solid #ccc;
}

.gridxBounceDown > .gridxMain > .gridxBody,
.gridxBounceDown > .gridxMain > .gridxRowHeaderBody {
    border-top: 1px solid #ccc;
}

.gridxBounceUp > .gridxHeader {
    z-index: 1;
    position: relative;
}

.worksGrid > .gridx > .gridxFooter > .gridxHScroller {
    display: none;
}

.worksGrid.scroll-both > .gridx > .gridxFooter > .gridxHScroller,
.worksGrid.scroll-horizontal > .gridx > .gridxFooter > .gridxHScroller {
    display: block;
}

.worksGrid.scroll-horizontal > .gridx > .gridxMain > .gridxVScroller {
    display: none !important;
}



/* Editor */

.gridxEditor > .gridxMain > .gridxBody > .gridxDodShown > .gridxRowTable {
    display: none;
}

.gridxEditor > .gridxMain > .gridxRowHeaderBody > .gridxRowHeaderRow.gridxDodShown {
    background-image: e( %( 'url( %s/editrow-16.png )', @localPath ) );
    background-position: 2px 3px;
    background-repeat: no-repeat;
    -background-color: #cee8f2;
    background-color: #FFFFE0;
}

.gridxRowLayoutTable {
    border: medium none;
    border-collapse: separate;
    border-spacing: 0;
    empty-cells: show;
    table-layout: fixed;
}

.gridxRowLayoutCell {
    padding: 1px 2px 1px 1px;
    border-color: transparent #ccc transparent transparent;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
}

.dj_webkit .gridxRowLayoutCell {
    padding-bottom: 0px;
}
/* Banners */

.gridxRow .gridxRowTable {
    width: auto;
}

table.gridxRowBanner, 
td.gridxRowBannerBefore, 
td.gridxRowBannerAfter {
    border-color: transparent #ccc #ccc transparent;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
}

td.gridxRowBannerInterim, td.gridxRowBannerBefore, td.gridxRowBannerAfter {
    padding: 2px 3px 2px 3px;
}

table.gridxRowBanner {
    width: 100%;
    border-collapse: collapse;
}

.dj_webkit table.gridxRowBanner {
    border-collapse: unset;
}

/* Seamless flavor */

.@{dojoTheme} .gridxRowLayoutCell.flavor-seamless > .dijitTextBox {
    border-width: 0px;
}

.@{dojoTheme} .gridxRowLayoutCell.flavor-seamless > .dijitTextBox > .dijitInputContainer.dijitInputField {
    padding: 2px;
}

.@{dojoTheme} .gridxRowLayoutCell.flavor-seamless > .dijitDateTextBox > .dijitInputContainer.dijitInputField {
    margin-top: 1px;
    padding: 1px 2px;
}

.@{dojoTheme} .gridxRowLayoutCell.flavor-seamless > .worksLabel {
    padding: 1px 2px; 
    white-space: nowrap;   
}

.@{dojoTheme} .gridxRowLayoutCell.flavor-seamless > .dijitSelect .dijitButtonContents, 
.@{dojoTheme} .gridxRowLayoutCell.flavor-seamless > .dijitTextBox .dijitButtonNode,
.@{dojoTheme} .gridxRowLayoutCell.flavor-seamless > .dijitSelect, 
.@{dojoTheme} .gridxRowLayoutCell.flavor-seamless > .dijitTextBox {
    border-color: transparent;
    background-color: transparent;
}

.gridxHeaderRow .gridxLockedCell {
    background-color: #f0f0f0;
}

.gridxRowSelected > .gridxRowTable > tbody > tr > .gridxLockedCell {
    background-color: #bfd6eb;
}

.gridxRowOver > .gridxRowTable > tbody > tr > .gridxLockedCell {
    background-color: #cee8f2;
}

/* Dividers */
.gridxHeaderRowInner {
    border-color: transparent;
}

.divider-horizontal > .gridx > .gridxMain > .gridxBody > .gridxRow .gridxCell {
    border-right-color: transparent;
    border-bottom-width: 0;
}

.@{dojoTheme} .divider-horizontal > .gridx > .gridxMain > .gridxBody > .gridxRow > .gridxRowTable {
    border-bottom: 1px solid #ccc;
}

.divider-vertical > .gridx > .gridxMain > .gridxBody > .gridxRow .gridxCell {
    border-bottom-color: transparent;
}

.divider-none > .gridx > .gridxMain > .gridxBody > .gridxRow .gridxCell {
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.divider-horizontal.gridxHeaderRow > .gridxHeaderRowInner .gridxCell,
.divider-none.gridxHeaderRow > .gridxHeaderRowInner .gridxCell {
    border-right-color: transparent;
}

.divider-vertical.gridxHeaderRow,
.divider-none.gridxHeaderRow {
    border-bottom-color: transparent;
}

.divider-none.gridxHeaderRow > .gridxHeaderRowInner .gridxCell {
    border-right-color: transparent;
    border-bottom-color: transparent;
}

