.worksListBox {
    border-width: 1px;
    border-style: solid;
    width: 15em;
    min-height: 40px; /* 2 rows */
    -padding-right: 1px;
}

.worksListBox.readonly {
    border-style: dotted
}

.tundra .worksListBox {
    border-color: #b3b3b3;
}

.tundra .worksListBox.problem {
    border-color: #e42222;
}

.tundra .worksListBox.problem,
.tundra .worksListBox.problem .gridxRow {
    background-color: #fff7f8;
}

.tundra .worksListBox .gridx {
    border-left: 2px solid transparent;
}

.tundra .worksListBox.required .gridx {
    border-left: 3px solid #e42222;
}

.tundra .worksListBox.required.readonly .gridx {
    border-left: 2px solid transparent;
}

.worksListBox .gridxBody {
    padding-top: 1px;
}

.worksListBox .gridx {
    padding-bottom: 1px;
    padding-right: 1px;
}

.worksListBox .gridxRow .gridxRowTable .gridxCell {
    border-style: none;
}

.worksListBox.required .gridxRow .gridxRowTable .gridxCell {
    padding-left: 2px;
}

.worksListBox.required.readonly .gridxRow .gridxRowTable .gridxCell {
    padding-left: 3px;
}

.worksListBox .gridxBody .gridxRowOdd > .gridxRowTable {
    background-color: transparent;
}

.worksListBox .gridxBodyRowHoverEffect .gridxRowOver > .gridxRowTable {
    background-color: inherit;
}

.worksListBox .gridxHeader {
    display: none;
}

.worksListBox .gridxBodyEmpty {
    display: none;
}

.tundra .worksListBox .gridxBodyRowHoverEffect .gridxRowOver.gridxRowSelected >.gridxRowTable,
.tundra .worksListBox .gridxBodyRowHoverEffect .gridxRowSelected >.gridxRowTable {
    background-color: #bfd6eb;
}

.claro .worksListBox .gridx .gridxBody .gridxCellFocus,
.tundra .worksListBox .gridx .gridxBody .gridxCellFocus {
    border: 0px solid transparent !important;
    outline: 0;
}