.worksChartLabel {
    display: inline-block;
}

.worksChart svg line {
    shape-rendering: crispEdges;
}

.worksChart {
    overflow: hidden;
    position: relative;
}

.worksChart::-moz-selection,
.worksChart *::-moz-selection {
    background-color: transparent;
}

.worksChart::selection,
.worksChart *::selection {
    background-color: transparent;
}

.worksChartSelector,
.worksChartHighlighter {
    position: absolute;
    display: none;
    overflow: hidden;
    background-color: transparent;
}

.worksChartSelector {
    cursor: crosshair;
}

.dj_ff .worksChartSelector,
.dj_ff .worksChartHighlighter {
    margin-bottom: 1px;
    margin-left: 1px;
}

.dj_safari .worksChartSelector,
.dj_safari .worksChartHighlighter {
    margin-top: 1px;
    margin-right: 1px;
}

.dj_chrome .worksChartSelector,
.dj_safari .worksChartHighlighter {
    margin-top: 1px;
    margin-left: 1px;
}

.worksChartSelector.visible,
.worksChartHighlighter.visible,
.worksChartSelectorUnderlay.visible,
.worksChartHighlighterUnderlay.visible {
    display: block;
}

.worksChartSelectorMarquee {
    position: absolute;
    border-radius: 4px;
    box-shadow: 
        0 0 0 1px #000, 
        0 0 0 4px #17a9ea, 
        0 0 0 8px #a2e3ff, 
        0 0 0 9px #000, 
        0 2px 6px 8px rgba( 0, 0, 0, 1 ), 
        0 0 0 150vw rgba( 255, 255, 255, 0.6 );
}

.worksChartSelectorMarquee:before {
    content: "";
    border: 1px dashed white;
    width: 100%;
    height: 100%;
    top: -5px;
    left: -5px;
    position: absolute;
    padding: 4px;
    border-radius: 9px;
}

.worksChartSelectorMarquee.constraint-x,
.worksChartSelectorMarquee.constraint-y,
.worksChartSelectorMarquee.constraint-x:before,
.worksChartSelectorMarquee.constraint-y:before {
    border-radius: 0px;
}

.worksChartHighlighterMarquee {
    position: absolute;
    box-shadow:
        0 0 0 1px #808080,
        0 0 0 3px #efe811,
        0 0 0 4px #fafafa,
        0 0 0 6px #fff719,
        0 0 0 7px #a4a4a4,
        0 0 10px 4px rgba( 0, 0, 0, 0.5 ),
        0 0 0 150vw rgba( 255, 255, 255, 0.8 );
}
