.dijitTree {
    outline: 0px;
}

.dijitTreeRowHover.background {
    background-color: #bbeaec !important;
}

.dijitTreeRow.drag .dijitTreeContent {
    cursor: url( "../../themes/images/cursor-drag.png" ) 12 6, move;
}

.tundra .dijitTreeExpandoLoading {
    background-image: url( "../../themes/images/loader-16.gif" );
    background-repeat: no-repeat;
}

.tundra .dijitTreeExpandoOpened {
    background-image: url("../../themes/images/treeExpand_down_18.png");
    opacity: 0.8;
}

.tundra .dijitTreeExpandoClosed {
    background-image: url("../../themes/images/treeExpand_right_18.png");
    opacity: 0.8;
}

.tundra .dijitTreeNode,
.tundra .dijitTreeExpandoLeaf {
    background-image: none;
}

.tundra .dijitTreeRowSelected {
    background-color: #e2ebfe !important;
}

.tundra .dijitTreeRowSelected .dijitTreeLabel {
    background-color: transparent;
}

.nw_mobile .tundra .dijitTreeExpandoOpened {
    background-image: url("../../themes/images/treeExpand_down_27.png");
    opacity: 0.8;
}

.nw_mobile .tundra .dijitTreeExpandoClosed {
    background-image: url("../../themes/images/treeExpand_right_27.png");
    opacity: 0.8;
}

.nw_mobile .tundra .dijitTreeExpando {
    width: 27px;
    height: 27px;
}

.nw_mobile .dijitTreeIndent {
    width: 15px;
}