html, body {
    background:#ffffff;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: Helvetica;
    font-size: 12px;
}

.dijitReset {
    line-height: 13px;
}

span.dijitButton>:first-child {
    display: block;
}

.worksButtonBlink .dijitButtonContents {
    visibility: hidden;
}

.worksButtonBlink.dijitButtonHover .dijitButtonContents,
.worksButtonBlink.dijitButtonActive .dijitButtonContents {
    visibility: visible;
}

.dijitButtonContents {
    height: inherit;
}

.dijitButton {
    margin: 0px;
}

.dijitButtonNode * {
    vertical-align: inherit;
}

.dijitButton .dijitButtonText * {
    white-space: nowrap;
}

.dijitButton.wrap .dijitButtonText * {
    white-space: normal;
}

.dijitButton.halign-left > .dijitButtonNode {
    text-align: left;
}

.dijitButton.halign-right > .dijitButtonNode {
    text-align: right;
}

.tundra .dijitArrowButtonInner {
    margin-bottom: 1px;
}

.worksClickable {
    cursor: pointer;
}

.worksClickable.disabled {
    cursor: not-allowed;
}

.worksInspectable {
    cursor: context-menu;
}

.worksInspectable.disabled {
    cursor: not-allowed;
}

/* Widget visibility */

.hidden {
    visibility: hidden;
}

.dijitBorderContainer-child.hidden,
.dijitBorderContainerNoGutter-child.hidden {
    display: none;
}

/* ToolBar */
table.worksToolBar, table.worksToolBarContent {
    border-spacing: 0;
}

table.worksToolBarContent > tbody > tr > td {
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 0px;
    padding-right: 0px;
}

table.worksToolBarContent > tbody > tr > td:first-child {
    padding-left: 0px;
}

table.worksToolBarContent > tbody > tr:first-child > td {
    padding-top: 0px;
}

table.worksToolBar.valign-middle,
table.worksToolBar.valign-bottom {
    height: 100%;
}

table.worksToolBar.halign-center,
table.worksToolBar.halign-right {
    width: 100%;
}

.worksGridLayout table.worksToolBar {
    padding-top: 5px;
}

table.worksGridLayout > tbody > tr:first-child > td > table.worksToolBar {
    padding-top: 0px;
}

.dijitBorderContainerNoGutter-child > table.worksToolBar,
.dijitBorderContainer-child > table.worksToolBar {
    padding: 3px;
}

/*
.dijitBorderContainerNoGutter-child.dijitAlignTop > table.worksToolBar,
.dijitBorderContainerNoGutter-child.dijitAlignBottom > table.worksToolBar,
.dijitBorderContainer-child.dijitAlignTop > table.worksToolBar,
.dijitBorderContainer-child.dijitAlignBottom > table.worksToolBar {
    padding-top: 3px;
    padding-bottom: 3px;
}

.dijitBorderContainerNoGutter-child.dijitAlignLeft > table.worksToolBar,
.dijitBorderContainerNoGutter-child.dijitAlignRight > table.worksToolBar,
.dijitBorderContainer-child.dijitAlignLeft > table.worksToolBar
.dijitBorderContainer-child.dijitAlignRight > table.worksToolBar {
    padding-left: 3px;
    padding-right: 3px;
}
*/

table.worksToolBar.collapsible table.worksToolBarContent > tbody > tr > td > .hidden {
    display: none;
}

table.worksToolBar.collapsible table.worksToolBarContent > tbody > tr > td.hidden {
    padding: 0px;
}

/* Text */

.dijitTextBox,
.dijitSelect {
    overflow: hidden;
}

.worksTextBoxDisplay, .worksTextBoxCaption {
    width: 100%;
    height: 1em;
    padding-bottom: 1px;
    white-space: nowrap;
}

.worksTextBoxCaption {
    position: absolute;
    width: 100%;
    height: 100%;
}

.worksTextBoxCaption > span {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.worksTextBoxDisplay {
    width: 100%;
    height: 1em;
    padding-bottom: 1px;
    white-space: nowrap;
}

.nw_mobile .worksTextBoxDisplay, .nw_mobile .worksTextCaption {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Combo */

.tundra .dijitComboBoxMenuPopup .dijitMenuItem {
    height: 10px;
    padding: 3px 5px 6px;
}

.dijitComboBox.readonly .dijitButtonNode,
.dijitComboBoxDisabled .dijitButtonNode {
    display: none;
}

/* Label */

.worksLabel.nowrap {
    white-space: nowrap;
}

.worksLabelBlink {
    visibility: hidden;
}

.tundra .worksLabel.dijitFocusedLabel {
    outline: 0px;
}

.worksGridLayout .worksLabel {
    display: inline-block;
    padding-top: 2px;
}

.worksGridLayout .worksLabel[for] {
    padding-right: 5px;
}

.dj_webkit .worksGridLayout .worksLabel {
    padding-top: 3px;
}

.worksGridLayout .worksLabel[for^=works_form_CheckBox],
.worksGridLayout .worksLabel[for^=works_form_RadioGroup] {
    padding-top: 0px;
}

.worksLabel.dijitInline.flavor-note {
    padding: 3px 7px 2px 6px;
    font-size: 11px;
    border: 1px solid #e8d547;
    box-shadow:1px 1px 6px -1px #b7b7b7;
    -moz-box-shadow:1px 1px 6px -1px #b7b7b7;

    background: #fefdca;
    -filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefdca', endColorstr='#f7f381' ,GradientType=0 );
    -background: linear-gradient( 170deg, #fefdca 0%, #fbf785 100% );
    -background: -moz-linear-gradient( 170deg, #fefdca 0%, #fbf785 100% );
}

/* Tab */

.dijitTab .tabLabel {
    outline: 0px;
    line-height: 14px;
}

.dj_webkit .dijitTab .tabLabel {
    line-height: 13px;
}

.dijitTabContainer.dijitBorderContainer-child.hiddenStrip > .dijitTabContainerTop-container {
    border-top: 1px solid #ccc;
}

.dijitTabContainer.hiddenStrip > .dijitTabController {
    display: none;
}


/* Loader */

.worksLoader {
    visibility: hidden;
    opacity: 1;
    z-index: 3000;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    background-image: url( images/loader.gif );
    background-repeat: no-repeat;
    background-position: center center;
}

/* Development */

.worksPickingBox {
    border: 4px solid red;
    position: absolute;
    visibility: hidden;
    top: 0px;
    left: 0px;
    z-index: 3000;
}

.worksPickingCloseBox {
    position: absolute;
    visibility: hidden;
    top: 2px;
    right: 2px;
    width: 24px;
    height: 24px;
    
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;

    cursor: pointer;
    border-radius: 4px;
}

.worksPickingCloseBox:hover {
    background-color: blue;
}

.worksPicking .dijitDialogUnderlayWrapper {
    visibility: hidden;
}

.worksImage.scroll-vertical {
    overflow: auto;
}

.worksImage.scroll-horizontal {
    overflow-x: auto;
}

.worksImage.scroll-both {
    overflow-y: auto;
}

.worksImage {
    overflow: hidden;
}

.worksImage img{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.worksImage table { 
    border-spacing: 0px;
    border-collapse: separate;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.worksImage table td{
    padding: 0px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.worksImageError {
    background-image: url(images/warning-icon-512.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.3;
}

div.worksScreen {
    position: absolute;
    background-color: white;
    opacity: 0.01;
    z-index: 2000;
}

