@import url('../../dijit/themes/claro/claro.css');
@import url('../../dojox/form/resources/FileUploader.css');
@import url('../../dojox/calendar/themes/claro/Calendar.css');
@import url('../../dojox/grid/resources/Grid.css');
@import url('../../dojox/grid/resources/claroGrid.css');
@import url('../../dojox/layout/resources/ExpandoPane.css');
@import url('../../dojox/layout/resources/FloatingPane.css');
@import url('base.css');
@import url('grid.css');
@import url('utils.css');
@import url('fonts/FontAwesome.css');

.claro .dijitSelect.readonly, .claro .dijitTextBox.readonly {
    border-style: dotted;
    border-color: black;
    color: black;
}

.claro .dijitSelect.dijitTextBoxHover.readonly, .claro .dijitTextBox.dijitTextBoxHover.readonly {
    background: transparent;
}