/* Button */

/* flavor-naked */
.tundra .dijitButton.flavor-naked .dijitButtonNode {
    background-color: transparent;
    border-color: transparent;
}

.tundra .dijitButtonHover.flavor-naked .dijitButtonNode {
    border-color: lightgray;
    color: #208cf6;
}

/* command */
.tundra .dijitButton.flavor-command .dijitButtonNode {
    border-color: transparent;
    background-color: transparent;
}

.tundra .dijitButton.flavor-command .dijitButtonText {
	display: block;
	font-size: 8pt;
	padding: 0px;
    padding-top: 2px;
    line-height: 110%;
    letter-spacing: 0px;
}

.tundra .dijitButton.flavor-command .dijitButtonContents {
    padding-top: 2px;
}

.dj_webkit .tundra .dijitButton.flavor-command .dijitButtonContents {
    padding-left: 1px;
    padding-right: 0px;
}

.tundra .dijitButton.flavor-command .dijitButtonNode {
    padding-bottom: 2px;
}

.dj_webkit .tundra .dijitButton.flavor-command .dijitButtonNode {
    padding-right: 2px;
}

.tundra .dijitButtonHover.flavor-command .dijitButtonNode {
    border-color: lightgray;
    color: #208cf6;
}
