.@{dojoTheme} [class*='icon-32-'] {
    width: 32px;
    height: 32px;
    background-image: e( %( 'url( %s/images/icons-32.png )', @localPath ) );
}

.dijitButtonHover [class*='icon-32-']{
    background-image: e( %( 'url( %s/images/icons-32-hover.png )', @localPath ) );
}

.dijitButtonActive [class*='icon-32-'],
.dijitButtonDisabled [class*='icon-32-']{
    background-image: e( %( 'url( %s/images/icons-32-active.png )', @localPath ) );
}

.@{dojoTheme} [class*='icon-24-'] {
    width: 24px;
    height: 24px;
    background-image: e( %( 'url( %s/images/icons-24.png )', @localPath ) );
}

.dijitButtonHover [class*='icon-24-']{
    background-image: e( %( 'url( %s/images/icons-24-hover.png )', @localPath ) );
}

.dijitButtonActive [class*='icon-24-'],
.dijitButtonDisabled [class*='icon-24-']{
    background-image: e( %( 'url( %s/images/icons-24-active.png )', @localPath ) );
}

.@{dojoTheme} [class*='icon-16-'] {
    width: 16px;
    height: 16px;
    background-image: e( %( 'url( %s/images/icons-16.png )', @localPath ) );
}

.dijitButtonHover [class*='icon-16-']{
    background-image: e( %( 'url( %s/images/icons-16-hover.png )', @localPath ) );
}

.dijitButtonActive [class*='icon-16-'],
.dijitButtonDisabled [class*='icon-16-']{
    background-image: e( %( 'url( %s/images/icons-16-active.png )', @localPath ) );
}

.icon-all( @name; @row; @col ) {
    .icon-32-@{name} {
        background-position: unit( @col * -32, px ) unit( @row * -32, px );
    }
    .icon-24-@{name} {
        background-position: unit( @col * -24, px ) unit( @row * -24, px );
    }
    .icon-16-@{name} {
        background-position: unit( @col * -16, px ) unit( @row * -16, px );
    }
}


.icon-all( null,           0,  0 );
.icon-all( upload,         0,  1 );
.icon-all( export,         0,  1 );
.icon-all( globe,          0,  2 );
.icon-all( home,           0,  3 );
.icon-all( nas,            0,  4 );
.icon-all( tag,            0,  5 );
.icon-all( save,           0,  6 );
.icon-all( security,       0,  7 );
.icon-all( broadcast,      0,  8 );
.icon-all( tower,          0,  9 );
.icon-all( feedout,        0, 10 );
.icon-all( feedin,         0, 11 );
.icon-all( update,         0, 12 );
.icon-all( archive,        0, 13 );
.icon-all( remotecontrol,  0, 14 );
.icon-all( speedometer,    0, 15 );
.icon-all( linechart,      0, 16 );
.icon-all( watch,          0, 17 );
.icon-all( document,       0, 18 );
.icon-all( dayview,        0, 19 );
.icon-all( spreadsheet,    1,  0 );
.icon-all( excel,          1,  1 );
.icon-all( wpdocument,     1,  2 );
.icon-all( word,           1,  3 );
.icon-all( exit,           1,  4 );
.icon-all( schedule,       1,  5 );
.icon-all( group,          1,  6 );
.icon-all( settings,       1,  7 );
.icon-all( folderclose,    1,  8 );
.icon-all( folderopen,     1,  9 );
.icon-all( factory,        1, 10 );
.icon-all( components,     1, 11 );
.icon-all( component,      1, 12 );
.icon-all( router,         1, 13 );
.icon-all( server,         1, 14 );
.icon-all( postoffice,     1, 15 );
.icon-all( puzzle,         1, 16 );
.icon-all( filledbox,      1, 17 );
.icon-all( inbox,          1, 18 );
.icon-all( orgunit,        1, 19 );
.icon-all( close,          2,  0 );
.icon-all( maximize,       2,  1 );
.icon-all( resize,         2,  2 );

.icon-loader( @size ) {
    .@{dojoTheme} .icon-@{size}-loader {
        width: unit( @size, px );
        height: unit( @size, px );
        background-image: e( %( 'url( %s/images/loader-%s.gif )', @localPath, @size ) );
    }
}

.icon-loader( 16 );
.icon-loader( 24 );
.icon-loader( 32 );
.icon-loader( 48 );
.icon-loader( 64 );

.icon-unauthorized( @size ) {
    .@{dojoTheme} .icon-@{size}-unauthorized {
        width: unit( @size, px );
        height: unit( @size, px );
        background-image: e( %( 'url( %s/images/unauthorized-%s.png )', @localPath, @size ) );
    }
}

.icon-unauthorized( 16 );
.icon-unauthorized( 24 );
.icon-unauthorized( 32 );
.icon-unauthorized( 64 );
.icon-unauthorized( 128 );

