html.nw_tablet,
html.nw_mobile_app,
.nw_tablet body,
.nw_mobile_app body {
    position: fixed;
}

.nw_mobile body {
    font-size: 13px;
}

.nw_mobile.dj_webkit .nw_theme .dijitButton .dijitButtonNode {
    padding-bottom: 5px;
}

.nw_mobile.dj_webkit.nw_android .nw_theme .dijitButton .dijitButtonNode {
    padding-bottom: 4px;
    padding-top: 3px;
}

.nw_mobile .tundra .dijitButtonNode {
    border-radius: 5px;
}

.nw_mobile .dijitButton {
    font-size: 13px;
}

.nw_mobile .dijitButtonContents {
    margin: 4px 5px;
}

.nw_mobile .tundra .dijitSelect, 
.nw_mobile .tundra .dijitTextBox {
    border-radius: 3px;
}

.nw_mobile .tundra .dijitTextBox.required .dijitInputContainer {
    border-radius: 2px;
}

.nw_mobile .tundra .dijitSelect.readonly, 
.nw_mobile .tundra .dijitTextBox.readonly {
    border-color: #c0c0c0;
}

.nw_mobile .dijitSelect .dijitInputContainer > input, 
.nw_mobile .dijitTextBox .dijitInputContainer > input,
.nw_mobile .dijitNumberTextBox .dijitInputContainer > input,
.nw_mobile .dijitDateTextBox .dijitInputContainer > input {
    margin: 3px 0px;
}

.nw_mobile .dijitInputContainer input {
    min-height: 13px;
}

.nw_mobile .tundra .dijitValidationTextBoxError .dijitValidationIcon {
    border-radius: 0px;
    height: 19px !important;
    border-width: 4px 0px 3px 0px;
}

.nw_mobile .gridxRow .gridxRowTable {
    min-height: 30px;
}

.nw_mobile .gridx .gridxHeaderRowInner > table {
    min-height: 28px;
}


.nw_mobile .tundra .dijitRadio, 
.nw_mobile .tundra .dijitRadioIcon {
    background-image: url( "images/checkmark-big.png" );
    background-position: -168px 0px;
    width: 24px;
    height: 24px;
    margin: 2px 0px;
}

.nw_mobile .tundra .dijitRadioChecked {
    background-position: -144px 0px;
}

.nw_mobile .tundra .dijitRadioDisabled {
    background-position: -216px 0px;
}

.nw_mobile .tundra .dijitRadioCheckedDisabled {
    background-position: -192px 0px;
}

.nw_mobile .tundra .worksRadioGroup.disabled td {
    color: #b8b8b8;
}

.nw_mobile .dijitRadio.readonly {
    background-position: -168px -24px;
}

.nw_mobile .dijitRadioChecked.readonly {
    background-position: -144px 0px;
}

.nw_mobile table.radioGroup > tbody > tr > td.radioLabel {
    padding-top: 6px;
}


.nw_mobile .tundra .dijitCheckBox, 
.nw_mobile .tundra .dijitCheckBoxIcon {
    background-image: url("images/mobile-checkmark.png");
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
}

.nw_mobile .tundra .dijitCheckBox, 
.nw_mobile .tundra .dijitToggleButton .dijitCheckBoxIcon {
    background-position: -39px 0;
}

.nw_mobile .tundra .dijitCheckBox.dijitCheckBoxChecked, 
.nw_mobile .tundra .dijitToggleButton .dijitCheckBoxIcon.dijitCheckBoxChecked {
    background-position: -2px 0;
}

.nw_mobile .tundra .dijitCheckBox, 
.nw_mobile .tundra .dijitCheckBoxIcon {
    width: 36px;
    height: 24px;
    background-size: 210%;
}

.nw_mobile .dj_webkit .worksGridLayout .worksLabel {
    padding-top: 5px;
}

.nw_mobile .worksGridLayout .worksLabel[for^=works_form_CheckBox] {
    padding-top: 4px;
}

.nw_mobile .dijitDialog {
    border-radius: 4px;
}

.nw_mobile .tundra .dijitMenuItem td.dijitMenuItemLabel {
    font-size: 10pt;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nw_mobile table.worksGridLayout > tbody > tr > td {
    padding: 5px;
}

.nw_mobile table.worksToolBarContent > tbody > tr > td {
    padding-left: 8px;
    padding-top: 8px;
}

.nw_mobile table.worksToolBarContent > tbody > tr > td:first-child {
    padding-left: 0px;
}

.nw_mobile table.worksToolBarContent > tbody > tr:first-child > td {
    padding-top: 0px;
}

.nw_mobile .tundra .dijitSplitterV {
    width: 17px;
}

.nw_mobile .tundra .dijitSplitterH {
    height: 17px;
}

.nw_mobile .tundra .dijitSplitterV .dijitSplitterThumb {
    left: 8px;
}

.nw_mobile .tundra .dijitSplitterVActive {
    background-color: #bfd6eb;
}