@import url('../../dijit/themes/tundra/tundra.css');
@import url('../../dojox/form/resources/FileUploader.css');
@import url('../../dojox/calendar/themes/tundra/Calendar.css');
@import url('../../dijit/themes/tundra/Calendar.css');
@import url('../../dojox/grid/resources/Grid.css');
@import url('../../dojox/grid/resources/tundraGrid.css');
@import url('../../dojox/layout/resources/FloatingPane.css');
@import url('base.css');
@import url('grid.css');
@import url('utils.css');
@import url('flavors.css');
@import url('fonts/FontAwesome.css');

.tundra .dijitSelect .dijitButtonContents, .tundra .dijitSelect, .tundra .dijitTextBox {
    background: transparent;
}

.tundra .dijitButtonNode {
    background: none;
    background-color: #f0f0f0;
    outline: 0;
}

.tundra .dijitButtonNode * {
    outline: 0;
}

.dj_gecko .tundra .dijitButtonNode {
    padding-bottom: 3px;
}

.dj_webkit .tundra .dijitButtonNode {
    padding-bottom: 2px;
}

.dj_gecko .tundra .dijitButtonText {
    padding-top: 2px;
}

.dj_webkit .tundra .dijitButtonText {
    padding-top: 3px;
}

.tundra .dijitButtonHover .dijitButtonNode {
    background: none;
    background-color: #cee8f2;
    color: #0b2346;
}

.tundra .dijitButtonActive .dijitButtonNode {
    background: none;
    background-color: #b0b0b0;
    color: white;
}

.tundra .dijitSelect.readonly, .tundra .dijitTextBox.readonly {
    border-style: dotted;
    border-color: #707070;
    color: black;
}

.tundra .dijitSelect .dijitButtonContents, .tundra .dijitSelect, .tundra .dijitTextBox {
    background: none repeat scroll 0 0 white;
}

.tundra .dijitTextBoxDisabled {
    background-color: #EEEEEE;
}

.tundra .dijitTextBox.required .dijitInputContainer {
    border-left: 3px solid #e42222;
}

.tundra .dijitTextBox.required.readonly .dijitInputContainer,
.tundra .dijitTextBoxDisabled.required .dijitInputContainer {
    border-left-color: transparent;
}

.tundra .dijitTextBox.required .dijitInputContainer.dijitInputField {
    padding-left: 1px;
}

.tundra .dijitInputContainer.dijitInputField {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 2px;
}

.dj_ff3 .tundra .dijitInputContainer.dijitInputField {
    padding-bottom: 1px;
    padding-top: 1px;
}

.tundra .dijitSelect .dijitArrowButton, 
.tundra .dijitComboBox .dijitButtonNode {
    padding: 1px 2px 2px 2px;
}

.dj_ff3 .tundra .dijitSelect .dijitArrowButton, 
.dj_ff3 .tundra .dijitComboBox .dijitButtonNode {
    padding: 1px 2px 1px 2px;
}

.tundra .dijitTextBoxHover .dijitButtonNode {
    background-color: #cee8f2;
}

.dj_webkit .tundra .dijitInputContainer.dijitInputField {
    padding-bottom: 1px;
}

.tundra .dijitComboBox .dijitArrowButton {
    background: url( "images/down-13.png" ) no-repeat scroll bottom center #f0f0f0;
}

.tundra .dijitComboBox.dijitHasDropDownOpen .dijitArrowButton {
    background: url( "images/up-13.png" ) no-repeat scroll center center #f0f0f0;
}

.tundra .dijitComboBox input.dijitArrowButtonInner {
    visibility: hidden;
}

.dijitTextArea {
    font-family: inherit;
    font-size: inherit;
}

/* Checkbox */

.tundra .dijitCheckBox, 
.tundra .dijitCheckBoxIcon {
    background-image: url("images/checkmark.png");
}

.tundra .dijitCheckBox, 
.tundra .dijitToggleButton .dijitCheckBoxIcon {
    background-position: -16px 0;
}

.tundra .dijitCheckBoxChecked, 
.tundra .dijitToggleButtonChecked .dijitCheckBoxIcon {
    background-position: 0 0;
}

.tundra .dijitCheckBoxDisabled, 
.tundra .dijitToggleButtonDisabled .dijitCheckBoxIcon {
    background-position: -48px 0px;
}

.tundra .dijitCheckBoxCheckedDisabled, 
.tundra .dijitToggleButtonCheckedDisabled .dijitCheckBoxIcon {
    background-position: -32px 0px;
}

.tundra .dijitCheckBox.readonly, 
.tundra .dijitToggleButton.readonly .dijitCheckBoxIcon {
    background-position: -16px -16px;
}

.tundra .dijitCheckBoxChecked.readonly, 
.tundra .dijitToggleButtonChecked.readonly .dijitCheckBoxIcon {
    background-position: 0 -16px;
}

/* Number Spinner */

.dj_gecko .tundra .dijitSpinnerButtonContainer,
.dj_webkit .tundra .dijitSpinnerButtonContainer {
    padding-bottom: 0px;
}

.dj_webkit .tundra .dijitSpinner .dijitUpArrowButton .dijitArrowButtonInner {
    margin-top: 0px;
}

.tundra .dijitSpinnerButtonContainer {
    height: 17px;
    width: 19px;
}

._dj_ff3 .tundra .dijitSpinnerButtonContainer {
    height: 18px;
    padding-top: 1px;
}

.tundra .dijitSpinner .dijitArrowButton {
    padding-left: 2px;
    width: 19px;
}

.tundra .dijitSpinner .dijitDownArrowButton {
    top: 8px;
}

._dj_ff3 .tundra .dijitSpinner .dijitDownArrowButton {
    top: 9px;
}

._dj_ff3 .tundra .dijitUpArrowButton .dijitArrowButtonInner {
    padding-top: 1px;
}

.tundra .dijitSpinner .dijitDownArrowButton .dijitArrowButtonInner {
    background-position: 0 top;
}

.tundra .dijitSpinner .dijitInputContainer.dijitInputField {
    padding-right: 3px;
}

.tundra .dijitSpinner.readonly .dijitSpinnerButtonContainer,
.tundra .dijitSpinnerDisabled .dijitSpinnerButtonContainer {
    display: none;
}

/* Validation */

.tundra .dijitValidationTextBoxError .dijitValidationIcon {
    height: 16px !important;
    background: url( "images/validation-error.png" ) no-repeat scroll 0px 0px #e42222;
    width: 9px !important;
    border-width: 1px 0px 0px 0px;
    border-color:  #e42222;
    border-style: solid;
}

.tundra .dijitTextBoxError {
    border: 1px solid #e42222;
    background-color: #fff7f8;
}

.tundra .dijitSelect.dijitError .dijitArrowButton, 
.tundra .dijitComboBox.dijitError .dijitButtonNode,
.tundra .dijitTextBox.dijitError .dijitButtonNode {
    border-color: #e42222;
}

/* Date/Time */
.tundra .dijitDateTextBox.readonly .dijitButtonNode,
.tundra .dijitDateTextBoxDisabled .dijitButtonNode {
    display: none;
}

.tundra .dijitDateTextBox .dijitArrowButton,
.tundra .dijitDateTextBox.dijitHasDropDownOpen .dijitArrowButton {
    background: url( "images/calendar-15.png" ) no-repeat scroll center center #f0f0f0;
}

.tundra .dijitTimeTextBox .dijitArrowButton,
.tundra .dijitTimeTextBox.dijitHasDropDownOpen .dijitArrowButton {
    background: url( "images/clock-15.png" ) no-repeat scroll center center #f0f0f0;
}

.tundra .dijitDateTextBoxHover .dijitArrowButton,
.tundra .dijitDateTextBoxHover.dijitHasDropDownOpen .dijitArrowButton,
.tundra .dijitTimeTextBoxHover .dijitArrowButton,
.tundra .dijitTimeTextBoxHover.dijitHasDropDownOpen .dijitArrowButton {
    background-color: #cee8f2;
}

.tundra .dijitDateTextBoxError .dijitArrowButton,
.tundra .dijitDateTextBoxError.dijitHasDropDownOpen .dijitArrowButton,
.tundra .dijitTimeTextBoxError .dijitArrowButton,
.tundra .dijitTimeTextBoxError.dijitHasDropDownOpen .dijitArrowButton,
.tundra .dijitSpinnerError .dijitButtonNode  {
    background-color: #e42222;
}


.tundra .dijitDateTextBox input.dijitArrowButtonInner,
.tundra .dijitTimeTextBox input.dijitArrowButtonInner {
    visibility: hidden;
}

.tundra .dijitTimePickerMarker {
    background: none repeat scroll 0 0 #e9e9e9;
}

.tundra .dijitTimePickerMarkerHover {
    background: none repeat scroll 0 0 #60a1ea;
}

.tundra .dijitTimePicker {
    border-left: 1px solid #ccc;
}

/* Calendar */
.tundra .dijitCalendarYearContainer {
    background: none;
    background-color: #ebebeb;
}

.tundra .dijitCalendarSelectedYear {
    color: white;
    background-color: #808995 !important;
}

.tundra .dijitCalendarNextYear, .tundra .dijitCalendarPreviousYear {
    color: #707070 !important;
}

.tundra .dijitCalendarMonthContainer th {
    background: none;
    background-color: #f0f0f0;
}

.tundra .dijitCalendarDayLabelTemplate {
    background: none;
    background-color: #e0e0e0;
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
}

.tundra .dijitCalendarMonthContainer .dijitButtonNode {
    border-color: transparent;
}

.tundra .dijitCalendarPopup .dijitCalendarContainer {
    border-color: #406b9b;
}

.tundra .dijitCalendarIncrementControl {
    width: 16px;
    height: 16px;
    color: transparent;
    background-image: url( ./images/window-buttons.png );
}

.tundra .dijitCalendarArrowHover .dijitCalendarIncrementControl {
    background-image: url( ./images/window-buttons-hover.png );
}

.tundra .dijitCalendarArrowActive .dijitCalendarIncrementControl {
    background-image: url( ./images/window-buttons-active.png );
}

.tundra .dijitCalendarDecrease {
    background-position: -64px 0px;
}

.tundra .dijitCalendarIncrease {
    background-position: -80px 0px;
}

/* Radio */
.tundra .dijitRadio, 
.tundra .dijitRadioIcon {
    background-image: url( "images/checkmark.png" );
    background-position: -112px 0px;
}

.tundra .dijitRadioChecked {
    background-position: -96px 0px;
}

.tundra .dijitRadioDisabled {
    background-position: -144px 0px;
}

.tundra .dijitRadioCheckedDisabled {
    background-position: -128px 0px;
}

.tundra .worksRadioGroup.disabled td {
    color: #b8b8b8;
}

.dijitRadio.readonly {
    background-position: -112px -16px;
}

.dijitRadioChecked.readonly {
    background-position: -96px 0px;
}

.radioLabel.checked {
    background: none;
}

.radioLabel.readonly {
    color: lightgray;
    outline: 0px;
}

.radioLabel.readonly.checked {
    color: black;
}

table.radioGroup {
    border-spacing: 0px;
}

table.radioGroup > tbody > tr > td {
    padding: 1px;
    vertical-align: top;
}

table.radioGroup > tbody > tr:first-child > td {
    padding-top: 0px;
}

table.radioGroup > tbody > tr > td:first-child {
    padding-left: 0px;
}


/* Tab */

.dijitTab .tabLabel {
    padding-bottom: 1px;
    padding-top: 2px;
}

.tundra .dijitTab {
    background: none;
    background-color: #f0f0f0;
}

.tundra .dijitTabChecked {
    background-color: white;
}

.tundra .dijitTabCloseButton {
    width: 16px;
    height: 16px;
    color: transparent;
    background-image: url(./images/window-buttons.png);
    cursor: pointer;
    background-position: 0px 0px;
}

.tundra .dijitTabCloseButtonHover {
    background-image: url(./images/window-buttons-hover.png);
}

.tundra .dijitTabCloseButtonActive {
    background-image: url(./images/window-buttons-active.png);
}

.dj_safari .tundra .dijitTab {
    padding-bottom: 3px;
}

.dj_webkit .tundra .dijitSelect .dijitArrowButton, 
.dj_webkit .tundra .dijitComboBox .dijitButtonNode {
    padding: 1px 2px 2px;
}

.tundra .dijitTabContainerTabListNested .dijitTab {
    color: gray;
    text-decoration: none;
    font-style: italic;
}

.tundra .dijitTabContainerTabListNested .dijitTabChecked .tabLabel {
    color: black;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

.tundra .dijitTabContainerTabListNested .dijitTabHover .tabLabel {
    text-decoration: none;
    color: #208cf6;
}

.tundra .dijitTabContainerTabListNested .dijitTabFocused .tabLabel {
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

.tundra .gridxDodNode .dijitTabContainerTabListNested {
    padding-left: 22px;
}

.tundra .gridxDodNode .dijitTabPaneWrapperNested {
    padding-left: 30px;
}

.tundra .gridxDodNode > .detailNode > .worksFormPane > .worksFormManagerInner > .worksGridLayoutPane {
    padding-left: 15px;
} 

.tundra .dijitTooltipContainer {
    background: none repeat scroll 0 0 #f9f9f9;
    font-size: 12px;
}

/* Accordion */
.tundra .dijitAccordionTitle {
    background: none;
    background-color: #f0f0f0;
}

.tundra .dijitAccordionTitleSelected {
    background: none;
    background-color: white;
}

.tundra .dijitAccordionTitleFocus {
    outline: 0px;
}

/* Dialog */

.tundra .dijitDialogTitleBar {
    background: none;
    background-color: #dddddd;
}

.nw_theme .dijitDialog.flavor-frame .dijitDialogTitleBar,
.nw_theme .dijitDialog.flavor-dropdown .dijitDialogTitleBar {
    display: none;
}

.nw_theme .dijitDialog.flavor-frame .dijitDialogPaneContent,
.nw_theme .dijitDialog.flavor-dropdown  .dijitDialogPaneContent {
    border-top-width: 0px;
}

.tundra .dijitDialog.flavor-frame {
    border-color: #406b9b;
}

/* Misc */

.tundra .dijitMenuItem {
    font-family: inherit;
}

.tundra .dijitBorderContainer {
    background-color: transparent;
}

.tundra .dijitBorderContainerNoGutter > .dijitSplitter {
    background-color: #f7f7f7;
}

.dijitSplitter {
    outline: 0px;
}

