/* Utilities */

.flavor-inspect,
.inspect {
    cursor: context-menu;
}

.flavor-click,
.click {
    cursor: pointer;
}


.flavor-underlined,
.underlined {
    text-decoration: underline;
}

.flavor-checked,
.flavor-unchecked,
.checked,
.unchecked {
	background-image: url('images/checkmark.png'); /* checkbox sprite image */
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.nw_mobile .flavor-checked,
.nw_mobile .flavor-unchecked,
.nw_mobile .checked,
.nw_mobile .unchecked {
	background-image: url('images/checkmark-big.png'); /* checkbox sprite image */
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}

.gridxCell > .checked,
.gridxCell > .unchecked {
    display: inline-block;
}


.flavor-unchecked,
.unchecked {
	background-position: -16px 0px;
}

.nw_mobile .flavor-unchecked,
.nw_mobile .unchecked {
	background-position: -24px 0px;
}

.flavor-checked,
.checked {
	background-position: 0 0;
}

.flavor-symbols,
.symbols {
    font-family: "RichStyle";
    font-size: 16px;
}