<table style="width:100%; min-width: 250px">
	<tr>
		<td align="center"><span class="dijitCommonDialogMessage" data-dialog-attach="messageNode"></span></td>
	</tr>
	<tr>
		<td align="center" style="padding-top: 10px">
			<button data-dojo-type="dijit/form/Button" data-dojo-props="label: 'OK'" data-dialog-attach="confirmButton" data-dialog-inject="dialog" >
				<script type="dojo/on" event="click">
                    this.dialog.doConfirm();
				</script>
			</button>		
		</td>
	</tr>
</table>	