/* Courier Prime */

@font-face {
  font-family: 'CourierPrime';
  src: url( 'CourierPrime.ttf' ) format( 'truetype' );
  font-style: normal;
  font-weight: normal;
}
@font-face {
    font-family: 'CourierPrime';
    src: url("CourierPrime-Bold.ttf") format( 'truetype' );
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'CourierPrime';
    src: url("CourierPrime-Italic.ttf") format( 'truetype' );
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'CourierPrime';
    src: url("CourierPrime-BoldItalic.ttf") format( 'truetype' );
    font-weight: bold;
    font-style: italic;
}
