/* DejaVu Sans Condensed*/

@font-face {
  font-family: 'DejaVuSansCondensed';
  src: url( 'DejaVuSansCondensed.ttf' ) format( 'truetype' );
  font-style: normal;
  font-weight: normal;
}
@font-face {
    font-family: 'DejaVuSansCondensed';
    src: url("DejaVuSansCondensed-Bold.ttf") format( 'truetype' );
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'DejaVuSansCondensed';
    src: url("DejaVuSansCondensed-Oblique.ttf") format( 'truetype' );
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'DejaVuSansCondensed';
    src: url("DejaVuSansCondensed-BoldOblique.ttf") format( 'truetype' );
    font-weight: bold;
    font-style: italic;
}
