/* DejaVu Serif */

@font-face {
  font-family: 'DejaVuSerif';
  src: url( 'DejaVuSerif.ttf' ) format( 'truetype' );
  font-style: normal;
  font-weight: normal;
}
@font-face {
    font-family: 'DejaVuSerif';
    src: url("DejaVuSerif-Bold.ttf") format( 'truetype' );
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'DejaVuSerif';
    src: url("DejaVuSerif-Italic.ttf") format( 'truetype' );
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'DejaVuSerif';
    src: url("DejaVuSerif-BoldItalic.ttf") format( 'truetype' );
    font-weight: bold;
    font-style: italic;
}
