/* DejaVu Sans */

@font-face {
  font-family: 'DejaVuSans';
  src: url( 'DejaVuSans.ttf' ) format( 'truetype' );
  font-style: normal;
  font-weight: normal;
}
@font-face {
    font-family: 'DejaVuSans';
    src: url("DejaVuSans-Bold.ttf") format( 'truetype' );
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'DejaVuSans';
    src: url("DejaVuSans-ExtraLight.ttf") format( 'truetype' );
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'DejaVuSans';
    src: url("DejaVuSans-Oblique.ttf") format( 'truetype' );
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'DejaVuSans';
    src: url("DejaVuSans-BoldOblique.ttf") format( 'truetype' );
    font-weight: bold;
    font-style: italic;
}
