/* DejaVu Serif Condensed*/

@font-face {
  font-family: 'DejaVuSerifCondensed';
  src: url( 'DejaVuSerifCondensed.ttf' ) format( 'truetype' );
  font-style: normal;
  font-weight: normal;
}
@font-face {
    font-family: 'DejaVuSerifCondensed';
    src: url("DejaVuSerifCondensed-Bold.ttf") format( 'truetype' );
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'DejaVuSerifCondensed';
    src: url("DejaVuSerifCondensed-Italic.ttf") format( 'truetype' );
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'DejaVuSerifCondensed';
    src: url("DejaVuSerifCondensed-BoldItalic.ttf") format( 'truetype' );
    font-weight: bold;
    font-style: italic;
}

