/* DejaVu Sans Mono */

@font-face {
  font-family: 'DejaVuSansMono';
  src: url( 'DejaVuSansMono.ttf' ) format( 'truetype' );
  font-style: normal;
  font-weight: normal;
}
@font-face {
    font-family: 'DejaVuSansMono';
    src: url("DejaVuSansMono-Bold.ttf") format( 'truetype' );
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'DejaVuSansMono';
    src: url("DejaVuSansMono-Oblique.ttf") format( 'truetype' );
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'DejaVuSansMono';
    src: url("DejaVuSansMono-BoldOblique.ttf") format( 'truetype' );
    font-weight: bold;
    font-style: italic;
}
