.@{dojoTheme} .worksFormManagerMain {
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow: hidden;
}

.@{dojoTheme} .worksFormManagerChild,
.@{dojoTheme} .worksFormManagerPopup {
    padding: 0px;
}

.@{dojoTheme} .worksFormPane {
    padding: 0px;
}