.worksEditor > .dijitEditor {
    border-top: 1px solid #bfbfbf;
}

.worksEditor.readonly > .dijitEditor {
    border-style: dotted;
}

.worksEditor > .dijitEditor.dijitFocused {
    border-color: #406b9b;
}

.worksEditor.worksDisabled > .dijitEditor.dijitFocused {
    border-color: #bfbfbf;
}

.worksEditor .dijitEditorIFrameContainer {
    margin-left: 3px;
}

.worksEditor .dijitToolbar {
    background-image: none;
    background-color: #f4f4f4;
    border-bottom-width: 0px;
}

.worksEditor .dijitEditor > div:first-child {
    border-bottom: 1px solid #e0e0e0;
}

.worksEditor.required .dijitToolbar {
    border-left: 3px solid red;
}

.worksEditor.readonly .dijitEditor > div:first-child {
    display: none;
}

.worksEditor > .dijitFocused .dijitToolbar {
    background-color: #d4e7ef;
}

.worksEditor.worksDisabled,
.worksEditor.worksDisabled .dijitToolbar,
.worksEditor.worksDisabled > .dijitFocused .dijitToolbar {
    background-color: #eeeeee;
}

.tundra .worksEditor .dijitToolbarSeparator {
    background: none;
    border-left: 1px solid lightgray;
    width: 1px;
}

.tundra .worksEditor > .dijitFocused .dijitToolbarSeparator {
    border-color: black;
}

.tundra .worksEditor.worksDisabled .dijitToolbarSeparator {
    border-left: 1px solid lightgray;
}

.tundra .worksEditor .dijitEditorIcon {
    background-image: none;
    font-family: "FontAwesome";
}

.tundra .worksEditor .dijitEditorIcon:after {
    padding-top: 4px;
    display: inline-block;
    color: lightgray;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tundra .worksEditor > .dijitFocused .dijitEditorIcon:after {
    color: black;
}

.tundra .worksEditor > .dijitFocused .dijitDisabled .dijitEditorIcon:after {
    color: lightgray;
}

.tundra .worksEditor .dijitEditorIconUndo:after {
  content: "\f0e2";
}

.tundra .worksEditor .dijitEditorIconRedo:after {
  content: "\f01e";
}

.tundra .worksEditor .dijitEditorIconBold:after {
  content: "\f032";
}

.tundra .worksEditor .dijitEditorIconItalic:after {
  content: "\f033";
}

.tundra .worksEditor .dijitEditorIconUnderline:after {
  content: "\f0cd";
}

.tundra .worksEditor .dijitEditorIconStrikethrough:after {
  content: "\f0cc";
}

.tundra .worksEditor .dijitEditorIconInsertOrderedList:after {
  content: "\f0cb";
}
.tundra .worksEditor .dijitEditorIconInsertUnorderedList:after {
  content: "\f0ca";
}
.tundra .worksEditor .dijitEditorIconIndent:after {
  content: "\f03c";
}
.tundra .worksEditor .dijitEditorIconOutdent:after {
  content: "\f03b";
}

.tundra .worksEditor .dijitEditorIconJustifyLeft:after {
  content: "\f036";
}
.tundra .worksEditor .dijitEditorIconJustifyCenter:after {
  content: "\f037";
}
.tundra .worksEditor .dijitEditorIconJustifyRight:after {
  content: "\f038";
}
.tundra .worksEditor .dijitEditorIconJustifyFull:after {
  content: "\f039";
}



.tundra .worksEditor .dijitToolbar .dijitButtonChecked, 
.tundra .worksEditor .dijitToolbar .dijitToggleButtonChecked,
.tundra .worksEditor .dijitToolbar .dijitButtonHover, 
.tundra .worksEditor .dijitToolbar .dijitToggleButtonHover {
    background-color: #e8e8e8;
    border-width: 0px;
    margin: 1px;
}

.tundra .worksEditor .dijitToolbar .dijitButtonHover .dijitButtonNode {
    background-color: #e8e8e8;
}

.tundra .worksEditor > .dijitFocused .dijitToolbar .dijitButtonChecked,
.tundra .worksEditor > .dijitFocused .dijitToolbar .dijitToggleButtonChecked {
    background-color: #9bb6e8;
}

.tundra .worksEditor > .dijitFocused .dijitToolbar .dijitButtonHover .dijitButtonNode,
.tundra .worksEditor > .dijitFocused .dijitToolbar .dijitToggleButtonHover {
    background-color: darkblue;
}

.tundra .worksEditor .dijitToolbar .dijitButtonChecked .dijitEditorIcon:after, 
.tundra .worksEditor .dijitToolbar .dijitToggleButtonChecked .dijitEditorIcon:after,
.tundra .worksEditor .dijitToolbar .dijitButtonHover .dijitEditorIcon:after, 
.tundra .worksEditor .dijitToolbar .dijitToggleButtonHover .dijitEditorIcon:after {
    color: #fbfbfb;
}

.tundra .worksEditor > .dijitFocused .dijitToolbar .dijitButtonChecked .dijitEditorIcon:after, 
.tundra .worksEditor > .dijitFocused .dijitToolbar .dijitToggleButtonChecked .dijitEditorIcon:after,
.tundra .worksEditor > .dijitFocused .dijitToolbar .dijitButtonHover .dijitEditorIcon:after, 
.tundra .worksEditor > .dijitFocused .dijitToolbar .dijitToggleButtonHover .dijitEditorIcon:after {
    color: white;
}

.tundra .worksEditor .dijitToolbar .dijitButtonHover .dijitEditorIcon:after, 
.tundra .worksEditor .dijitToolbar .dijitToggleButtonHover .dijitEditorIcon:after {
    font-size: 18px;
    padding-top: 5px;
}

