<div class="dijit dijitReset dijitInline dijitLeft worksMobileSpinner"
	id="widget_${id}" role="presentation"
    ><div class="worksMobileSpinnerContainer"
    	><div class="dijitReset dijitButtonNode dijitSpinnerButtonContainer dijitLeft"
            data-dojo-attach-point="downArrowContainer"
    		><div class="dijitReset dijitLeft dijitButtonNode dijitArrowButton dijitDownArrowButton"
    			data-dojo-attach-point="downArrowNode"
    			><div class="dijitArrowButtonInner"
    				><input class="dijitReset dijitInputField" value="&#9664;" type="text" tabIndex="-1" readonly="readonly" role="presentation"
    					${_buttonInputDisabled}
    			/></div
    		></div
    	></div
    	><div class="dijitReset dijitInputField dijitInputContainer"
    		><input class='dijitReset dijitInputInner' data-dojo-attach-point="textbox,focusNode" type="number" data-dojo-attach-event="onkeydown:_onKeyDown"
    			role="spinbutton" autocomplete="off" ${!nameAttrSetting}
    	/></div
    	><div class="dijitReset dijitButtonNode dijitSpinnerButtonContainer dijitRight"
            data-dojo-attach-point="upArrowContainer"
    		><div class="dijitReset dijitLeft dijitButtonNode dijitArrowButton dijitUpArrowButton"
    			data-dojo-attach-point="upArrowNode"
    			><div class="dijitArrowButtonInner"
    				><input class="dijitReset dijitInputField" value="&#9654;" type="text" tabIndex="-1" readonly="readonly" role="presentation"
    					${_buttonInputDisabled}
    			/></div
    		></div
    	></div
    	><div class='dijitReset dijitValidationContainer'
    		><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="&#935; " type="text" tabIndex="-1" readonly="readonly" role="presentation"
    	/></div
	></div
></div>
