.worksMobileTextBox {
    padding: 1px 0px;
}
.worksMobileTextBoxIcon {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 24px;
    color: transparent;
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
}

.worksMobileTextBoxIcon.hidden {
    display: none;
}

.worksMobileTextBoxIcon.date {
    background: url( "../../themes/images/calendar-15.png" ) no-repeat scroll center center white;
}

.worksMobileTextBoxIcon.time {
    background: url( "../../themes/images/clock-15.png" ) no-repeat scroll center center white;
}

.worksMobileTextBox.dijitDisabled .worksMobileTextBoxIcon,
.worksMobileTextBox.readonly .worksMobileTextBoxIcon {
    display: none;
}

.worksMobileSpinner .dijitArrowButtonInner {
    background: none;
}

.worksMobileSpinner .dijitArrowButtonInner .dijitInputField {
    visibility: visible;
    transform: scale(1);
    background: none;
    font-size: 20px;
    color: #808080;
    float: none;
}

.nw_mobile.nw_android .tundra .dijitSpinner .dijitInputContainer.dijitInputField {
    padding-top: 4px;
}

.worksMobileSpinner.dijitSpinner .dijitSpinnerButtonContainer .dijitArrowButton {
    height: 100%;
    border-top-width: 0px !important;
}

.nw_android .worksMobileSpinner.dijitTextBox .dijitSpinnerButtonContainer {
    padding-bottom: 4px;
}

.worksMobileSpinner.dijitSpinner .dijitButtonNode {
    border-color: transparent;
    background: none;
    padding-top: 0px;
    padding-bottom: 0px;
}

.tundra .worksMobileSpinner.dijitSpinner .dijitDownArrowButton {
    top: 0px;
}

.tundra .worksMobileSpinner .dijitArrowButtonInner {
    width: 16px;
}

.tundra .worksMobileSpinner .dijitSpinnerButtonContainer {
    height: 22px;
    width: 25px;
}

.tundra .worksMobileSpinner .dijitButtonNode..dijitSpinnerButtonContainer {
    padding-top: 1px;
    padding-bottom: 1px;
}

.worksMobileSpinner .dijitSpinnerButtonContainer.dijitLeft {
    float: none;
}

.worksMobileSpinner .dijitInputContainer{
    float: none !important;
    flex: 1;
}

.worksMobileSpinner .dijitInputContainer input {
    float: none;
}

.worksMobileSpinner .dijitSpinnerButtonContainer.dijitRight {
    float: none !important;
}

.nw_mobile .worksMobileSpinner.dijitTextBox.required .dijitInputContainer {
    border-left-width: 0px;
}

.nw_mobile .worksMobileSpinner.required .worksMobileSpinnerContainer {
    border-left: 3px solid red;
}

.nw_mobile .worksMobileSpinner.required.readonly .worksMobileSpinnerContainer {
    border-left-color: transparent;
}

.worksMobileSpinner.dijitTextBox .dijitSpinnerButtonContainer,
.worksMobileSpinner.dijitSpinner .dijitSpinnerButtonContainer .dijitArrowButton {
    position: inherit !important;
}

.worksMobileSpinnerContainer {
    display: flex;
}

.tundra .worksMobileSpinner.dijitTextBox.dijitError .dijitButtonNode {
    border-color: transparent;
}

.nw_mobile .tundra .worksMobileSpinner.dijitValidationTextBoxError .dijitValidationIcon {
    border-top-width: 5px;
}