<div class="${baseClass} dijitTextBox"
    ><div class="worksMobileSelectInputContainer"
        ><select data-dojo-attach-point="inputNode" data-dojo-attach-event="onchange:onChange" class="worksMobileSelectInput"></select
        ><span data-dojo-attach-point="displayNode" class="worksMobileSelectDisplay">&nbsp;</span
        ><div class="dijitReset worksMobileSelectIcon" data-dojo-attach-event="click:onIconClick">x</div
    ></div
></div>