<div class="dijit dijitReset dijitInline dijitLeft worksMobileTextBox" id="widget_${id}" role="presentation"
	><div class="dijitReset dijitInputField dijitInputContainer"
		><input class="dijitReset dijitInputInner" data-dojo-attach-point='textbox,focusNode' autocomplete="off"
			${!nameAttrSetting} type='${type}'
	/><div class="dijitReset worksMobileTextBoxIcon ${iconClass}" data-dojo-attach-event="click:onIconClick">x</div
></div>
