.worksMobileSelect {
    padding-top: 3px;
    min-height: 24px;
}

.worksMobileSelect.disabled {
    background-color: #e0e0e0;
}

.worksMobileSelectInputContainer {
    position: relative;
    height: 100%;
    width: 100%;
}

.worksMobileSelectInput {
    border-width: 0px;
    width: 100%;
    background-color: transparent;
    font-size: 13px;
    font-family: inherit;
    outline: 0px;
}

.worksMobileSelectDisplay {
    width: 100%;
    display: none;
    overflow: hidden;
    font-size: 13px;
    padding-top: 2px;
    padding-left: 5px;
    padding-bottom: 2px;
}

.worksMobileSelectIcon {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 24px;
    color: transparent;
    background: url( "../../themes/images/down-13.png" ) no-repeat scroll center center white;
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
}

.worksMobileSelect.disabled .worksMobileSelectIcon,
.worksMobileSelect.readonly .worksMobileSelectIcon {
    display: none;
}
