/* Dialog */

.dijitDialogCloseIcon {
    outline: 0px;
}
.dijitTooltip, 
.dijitTooltipDialog {
    outline: 0px;
}

.dijitTooltipDialogPopup .dijitTooltipDialog .dijitTooltipContainer {
    box-shadow: 2px 3px 8px 1px #ccc;
    -moz-box-shadow: 2px 3px 8px 1px #ccc;
}

.worksSlideupPopupHeader {
    height: 35px;
    width: 100%;
}

.worksSlideupPopupHeader .closeButton {
    position: absolute;
    right: 0px;
    display: block;
    background-image: e( %( 'url( %s/works/themes/images/close-13.png )', @basePath ) );
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 12px;
    margin-top: 11px;
    color: transparent;
    height: 13px;
    width: 13px
}

.@{dojoTheme} .dijitTooltipDialogPopup .dijitTooltipContainer {
    font-size: 12px;
    background: none;
    background-color: white;
}

.@{dojoTheme} .dijitDialogCloseIcon {
    width: 16px;
    height: 16px;
    color: transparent;
    background-image: e( %( 'url( %s/works/themes/images/window-buttons.png )', @basePath ) );
    background-position: 0px 0px;
}

.@{dojoTheme} .dijitDialogCloseIconHover {
    background-image: e( %( 'url( %s/works/themes/images/window-buttons-hover.png )', @basePath ) );
}    

.@{dojoTheme} .dijitDialogCloseIconActive {
    background-image: e( %( 'url( %s/works/themes/images/window-buttons-active.png )', @basePath ) );
}    

.@{dojoTheme} .dijitDialog {
    box-shadow: 0 5px 10px #adadad;
    -moz-box-shadow: 0 5px 10px #adadad;
}

.@{dojoTheme} .dijitTooltipDialog.worksPopup > .dijitTooltipContainer,
.@{dojoTheme} .dijitTooltipDialog.worksPopup > .dijitTooltipContainer > .dijitTooltipContents {
    padding: 0px;
}

/* Padding recovery */

.@{dojoTheme} .dijitDialog.singleChildWrapper .dijitDialogPaneContent {
    padding: 0px;
}

/*
.worksFormManagerPopup > .dijitBorderContainerNoGutter,
.worksFormManagerPopup > .worksGridLayoutPane {
    margin: 10px;
}
*/

.worksFormManagerPopup {
    margin: 8px;
}

.worksFormManagerPopup.parentOf-dijitBorderContainerNoGutter,
.worksFormManagerPopup.parentOf-worksGridLayoutPane {
    margin: 10px;
}

/* Tooltip */
.tundra .dijitTooltip .dijitTooltipContainer {
    background: none repeat scroll 0 0 rgb(255, 255, 255);
    font-size: 11px;
    padding: 3px;
    text-align: center;
    box-shadow: 1px 1px 6px #dddddd;
    -moz-box-shadow: 1px 1px 6px #dddddd;
}

.tundra .dijitTooltipAbove .dijitTooltipConnector {
    background-image: e( %( 'url( %s/works/themes/images/tooltipConnectorDown.png )', @basePath ) );
}

.tundra .dijitTooltipRight .dijitTooltipConnector {
    background-image: e( %( 'url( %s/works/themes/images/tooltipConnectorLeft.png )', @basePath ) );
}

.tundra .dijitTooltipLeft .dijitTooltipConnector {
    background-image: e( %( 'url( %s/works/themes/images/tooltipConnectorRight.png )', @basePath ) );
}

.dijitTooltipBelow.flavor-naked {
    padding-top: 0px;
}

.dijitTooltipBelow.flavor-frame,
.dijitTooltipBelow.flavor-dropdown {
    padding-top: 1px;
}

.dijitTooltipAbove.flavor-naked {
    padding-top: 0px;
}

.dijitTooltipAbove.flavor-frame,
.dijitTooltipAbove.flavor-dropdown {
    padding-bottom: 1px;
}

.tundra .dijitTooltipDialog.flavor-naked .dijitTooltipConnector,
.tundra .dijitTooltipDialog.flavor-frame .dijitTooltipConnector,
.tundra .dijitTooltipDialog.flavor-dropdown .dijitTooltipConnector {
    display: none;
}

.dijitTooltipDialogPopup .dijitTooltipDialog.flavor-frame .dijitTooltipContainer,
.dijitTooltipDialogPopup .dijitTooltipDialog.flavor-dropdown .dijitTooltipContainer {
    border-color: #406b9b;
}

.dijitTooltipDialogPopup .dijitTooltipDialog.flavor-naked .dijitTooltipContainer {
    box-shadow: none;
}

.dijitTooltipDialogPopup .dijitTooltipDialog.flavor-frame .dijitTooltipContainer,
.dijitTooltipDialogPopup .dijitTooltipDialog.flavor-dropdown .dijitTooltipContainer {
    box-shadow: 1px 1px 3px 0 #e4e4e4, -1px 1px 2px 0 #e4e4e4;
}

.dijitTooltipDialogPopup .dijitTooltipDialog.flavor-dropdown .dijitTooltipContainer {
    border-radius: 0px;
    border-color: #7eabcd;
}  

.dijitTooltipDialogPopup .dijitTooltipDialog.flavor-naked .dijitTooltipContainer {
    border-width: 0px;
    border-radius: 0px;
    background-color: transparent;
}

.tundra .worksSlideupPopupWrapper {
    background-color: #d5d5d5;
}

.tundra .worksSlideupPopupHeader {
    background-color: #f0f0f0;
    border-top: 1px solid #d5d5d5;
}

.worksSlideupPopupWrapper.dijitTooltipDialogPopup .dijitTooltipDialog.flavor-dropdown .dijitTooltipContainer {
    border-radius: 0px;
    border-color: #c0c0c0;
    border-width: 1px 1px 0px 1px;
}  

.tundra .worksSlideupPopupWrapper.dijitTooltipDialogPopup .dijitTooltipDialog > .dijitTooltipContainer > .dijitTooltipContents {
    background-color: white;
}
 
