.worksSmartTextBox > table {
    border-spacing: 0px;
    border-collapse: separate;
}

.worksSmartTextBoxButton {
    padding-left: 1px;
    padding-top: 1px;
}

.worksSmartTextBoxButtonContainer {
    border-left-width: 1px;
    border-left-style: solid;
    min-width: 17px;
    max-width: 17px;
    cursor: pointer;
}

.nw_mobile .worksSmartTextBoxButtonContainer {
    min-width: 23px;
    max-width: 23px;
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
}

.tundra .worksSmartTextBoxButtonContainer {
    border-left-color: #9b9b9b;
    background-color: #f0f0f0;
}

.nw_mobile .tundra .worksSmartTextBoxButtonContainer {
    border-left-color: transparent;
    background-color: transparent;
}


.worksSmartTextBoxButton {
    background: url("../../themes/images/down-13.png") no-repeat scroll center 0px;    
}

.worksSmartTextBox.readonly .worksSmartTextBoxButtonContainer,
.worksSmartTextBox.dijitTextBoxDisabled .worksSmartTextBoxButtonContainer {
    display: none;
}

