.worksCodeBox.dijitContentPane {
    padding: 0px;
    overflow: auto;
}

.worksCodeBox > pre {
    padding: 3px 6px 3px 6px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.worksCodeBox .indent {
    display: inline-block;
    width: 25px;
}